@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model EPES.ViewModels.DataForEvaluationViewModel

@{
    ViewData["Title"] = "Create";
    var user = await UserManager.GetUserAsync(User);
}

@if (Model.Point.Plan == TypeOfPlan.A)
{
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">เป้าหมาย/ประมาณการ</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Point?.Name</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <form asp-action="Create" method="post">
                    <table class="table table-bordered" id="DataForEvalutionTable" style="width:100%;" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    เดือน
                                </th>
                                <th>
                                    เป้าหมาย/ประมาณการ
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 10; i < 13; i++)
                            {
                                <tr>
                                    <td>
                                        @(new DateTime(1, i, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name=@String.Format("expect{0}", i) class="form-control"/>
                                    </td>

                                </tr>
                            }
                            @for (int i = 1; i < 10; i++)
                            {
                                <tr>
                                    <td>
                                        @(new DateTime(1, i, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name=@String.Format("expect{0}", i) class="form-control"/>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="form-group">
                        <input type="hidden" name="poeid" value="@Model.Point.Id" />
                        <input type="hidden" name="ownerofficeid" value="@Model.Point.OwnerOfficeId" />
                        <input type="submit" value="บันทึก" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">ยกเลิก</a>
                    </div>
                </form>
            </div>
        </div> @*card-body*@
    </div> @*card*@
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_dataTableScript" />
}
