@model EPES.Models.DataForEvaluation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DataForEvaluation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Expect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Expect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentApprove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentApprove)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfEvaluation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOfEvaluation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Office)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Office.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
