@model EPES.ViewModels.DataForEvaluationViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">เป้าหมาย/ประมาณการ @Model.Point.OwnerOffice.Name</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Point.Name</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <table class="table table-bordered" id="DataForEvalutionTable" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        เดือน
                                    </th>
                                    <th>
                                        เป้าหมาย/ประมาณการ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 10, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        <td>
                                            <select name="expect10" class="form-control col-md-7" asp-items="ViewBag.SelectLevel10"></select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input asp-for="expect10" class="form-control" />
                                            <span asp-validation-for="expect10" class="text-danger"></span>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 11, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        <td>
                                            <select name="expect11" class="form-control col-md-7" asp-items="ViewBag.SelectLevel11"></select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input asp-for="expect11" class="form-control" />
                                            <span asp-validation-for="expect11" class="text-danger"></span>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 12, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        <td>
                                            <select name="expect12" class="form-control col-md-7" asp-items="ViewBag.SelectLevel12"></select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input asp-for="expect12" class="form-control" />
                                            <span asp-validation-for="expect12" class="text-danger"></span>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 1, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        <td>
                                            <select name="expect1" class="form-control col-md-7" asp-items="ViewBag.SelectLevel1"></select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input asp-for="expect1" class="form-control" />
                                            <span asp-validation-for="expect1" class="text-danger"></span>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 2, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        <td>
                                            <select name="expect2" class="form-control col-md-7" asp-items="ViewBag.SelectLevel2"></select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input asp-for="expect2" class="form-control" />
                                            <span asp-validation-for="expect2" class="text-danger"></span>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 3, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        <td>
                                            <select name="expect3" class="form-control col-md-7" asp-items="ViewBag.SelectLevel3"></select>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <input asp-for="expect3" class="form-control" />
                                            <span asp-validation-for="expect3" class="text-danger"></span>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 4, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        if (Model.Point.Detail2Rate1 != null)
                                        {
                                            <td>
                                                <select name="expect4" class="form-control col-md-7" asp-items="ViewBag.SelectLevel4"></select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="expect4" class="form-control col-md-7" asp-items="ViewBag.SelectLevelx4"></select>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                            <td>
                                                <input asp-for="expect4" class="form-control" />
                                                <span asp-validation-for="expect4" class="text-danger"></span>
                                            </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 5, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        if (Model.Point.Detail2Rate1 != null)
                                        {
                                            <td>
                                                <select name="expect5" class="form-control col-md-7" asp-items="ViewBag.SelectLevel5"></select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="expect5" class="form-control col-md-7" asp-items="ViewBag.SelectLevelx5"></select>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                            <td>
                                                <input asp-for="expect5" class="form-control" />
                                                <span asp-validation-for="expect5" class="text-danger"></span>
                                            </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 6, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        if (Model.Point.Detail2Rate1 != null)
                                        {
                                            <td>
                                                <select name="expect6" class="form-control col-md-7" asp-items="ViewBag.SelectLevel6"></select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="expect6" class="form-control col-md-7" asp-items="ViewBag.SelectLevelx6"></select>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                            <td>
                                                <input asp-for="expect6" class="form-control" />
                                                <span asp-validation-for="expect6" class="text-danger"></span>
                                            </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 7, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        if (Model.Point.Detail2Rate1 != null)
                                        {
                                            <td>
                                                <select name="expect7" class="form-control col-md-7" asp-items="ViewBag.SelectLevel7"></select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="expect7" class="form-control col-md-7" asp-items="ViewBag.SelectLevelx7"></select>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                            <td>
                                                <input asp-for="expect7" class="form-control" />
                                                <span asp-validation-for="expect7" class="text-danger"></span>
                                            </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 8, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        if (Model.Point.Detail2Rate1 != null)
                                        {
                                            <td>
                                                <select name="expect8" class="form-control col-md-7" asp-items="ViewBag.SelectLevel8"></select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="expect8" class="form-control col-md-7" asp-items="ViewBag.SelectLevelx8"></select>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                            <td>
                                                <input asp-for="expect8" class="form-control" />
                                                <span asp-validation-for="expect8" class="text-danger"></span>
                                            </td>
                                    }
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 9, 1).ToString("MMMM"))
                                    </td>
                                    @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                                    {
                                        if (Model.Point.Detail2Rate1 != null)
                                        {
                                            <td>
                                                <select name="expect9" class="form-control col-md-7" asp-items="ViewBag.SelectLevel9"></select>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <select name="expect9" class="form-control col-md-7" asp-items="ViewBag.SelectLevelx9"></select>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                            <td>
                                                <input asp-for="expect9" class="form-control" />
                                                <span asp-validation-for="expect9" class="text-danger"></span>
                                            </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <input asp-for="yearPoint" class="form-control" hidden />
                            <input asp-for="poeid" class="form-control" hidden />
                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                            <input type="submit" value="บันทึก" class="btn btn-primary" />
                            <a asp-area="" asp-controller="DataForEvaluations" asp-action="Index" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" class="btn btn-secondary">ยกเลิก</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
