@{
    Layout = "_LayoutNoSidebar";
    ViewData["Title"] = "Home Page";
}

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>
<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>
<!-- Uncomment to enable the client-side export feature -->
<!-- script src="~/js/devextreme/jszip.js"></script -->
<!-- Uncomment to provide geo-data for the VectorMap control -->
<!-- script src="~/js/devextreme/vectormap-data/world.js"></script -->
<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            สรุปผลการปฏิบัติราชการ
        </h1>
        @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> สร้างรายงาน</a>*@
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">การจัดเก็บ (ภญ. และ สภ./สท.) เดือน @DateTime.Now.AddMonths(-1).ToString("MMMMM yyyy")</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ประมาณการสะสม @(((ViewBag.ExpectLastMonth[0] + ViewBag.ExpectLastMonth[1])/1000000).ToString("N4")) ล้าน</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ผลสะสม @((ViewBag.ResultLastMonth[0] + ViewBag.ResultLastMonth[1]).ToString("N0")) ล้าน</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">จำนวนผู้เสียภาษีรายใหม่ เดือน @DateTime.Now.AddMonths(-1).ToString("MMMMM yyyy")</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ประมาณการสะสม xxx ราย</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">ผลสะสม xxx ราย</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">หน่วยงานที่บันทึก/หน่วยงานทั้งหมด @DateTime.Now.AddMonths(-1).ToString("MMMMM yyyy")</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.Entry/152</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="m-0 font-weight-bold text-gray-800">ผลการปฏิบัติราชการ ณ เดือน @DateTime.Now.AddMonths(-1).ToString("MMMM") ปีงบประมาณ @(DateTime.Now.Month > 9 ? DateTime.Now.AddYears(1).ToString("yyyy") : DateTime.Now.ToString("yyyy"))</h5>
    <!-- Content Row -->
    <div class="row">
        <!-- Chart -->
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <!-- Card Header  -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        I. กอง กลุ่ม งานตรวจราชการ และ ศูนย์
                    </h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    @(Html.DevExtreme().Chart()
                            .ID("chart")
                            .CommonSeriesSettings(s => s
                                .ArgumentField("office")
                                .ValueField("score")
                                .Type(SeriesType.Bar)
                                .IgnoreEmptyPoints(true)
                                .Label(l => l
                                    .Visible(true)
                                    .Format(f => f
                                        .Type(Format.FixedPoint)
                                        .Precision(4)
                                    )
                                )
                            )
                            .ArgumentAxis(a => a
                                    .Label(l => l
                                    .OverlappingBehavior(OverlappingBehavior.None)
                                )
                            )
                            .Legend(l => l
                                .Visible(false)
                            )
                            .SeriesTemplate(t => t.NameField("office"))
                            //.DataSource(d => d.StaticJson().Url("api/ReportsApi/GetDBHQScore"))
                            .DataSource(d => d.Mvc().Controller("ReportsApi").LoadAction("GetDBHQScore"))
                        )
                </div>
                </div>
            </div>
            <!-- Chart -->
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <!-- Card Header -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            II. สภ. และ สท.
                        </h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        @(Html.DevExtreme().Chart()
                            .ID("chart2")
                            .CommonSeriesSettings(s => s
                                .ArgumentField("office")
                                .ValueField("score")
                                .Type(SeriesType.Bar)
                                .IgnoreEmptyPoints(true)
                                .Label(l => l
                                    .Visible(true)
                                    .Format(f => f
                                        .Type(Format.FixedPoint)
                                        .Precision(4)
                                    )
                                )
                            )
                            .ArgumentAxis(a => a
                                    .Label(l => l
                                    .OverlappingBehavior(OverlappingBehavior.None)
                                )
                            )
                            .Legend(l => l
                                .Visible(false)
                            )
                            .SeriesTemplate(t => t.NameField("office"))
                            .DataSource(d => d.Mvc().Controller("ReportsApi").LoadAction("GetDBPScore"))
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /.container-fluid -->

@*@section Scripts {
    <partial name="_ChartScript" />
}*@
