@using Microsoft.AspNetCore.Identity
@using System.Globalization
@model EPES.ViewModels.ResultViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "ตรวจสอบและยืนยัน";
    var user = await UserManager.GetUserAsync(User);
    ScoreDraft sd = null;
}

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>
<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>
<!-- Uncomment to enable the client-side export feature -->
<!-- script src="~/js/devextreme/jszip.js"></script -->
<!-- Uncomment to provide geo-data for the VectorMap control -->
<!-- script src="~/js/devextreme/vectormap-data/world.js"></script -->
<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">ผลการปฏิบัติราชการ</h1>
    <p class="mb-4">ตรวจสอบ/ยืนยัน</p>
    <form asp-action="Index">
        <div class="row justify-content-between">
            <div class="col-md-4">
                <div class="row">
                    <label class="col-form-label col-md-3 text-md-right">หน่วยงาน: </label>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <select name="selectoffice" class="form-control col-md-7" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()">
                            <option value="">เลือกหน่วยงาน</option>
                        </select>
                    }
                    else
                    {
                        <select name="selectoffice" class="form-control col-md-7" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()" disabled>
                            <option value="">เลือกหน่วยงาน</option>
                        </select>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-form-label col-md-6 text-md-right">ปีงบประมาณ: </label>
                    <select asp-for="yearPoint" class="form-control col-md-6" onchange="this.form.submit()">
                        <option value="-1">
                            @{
                                if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                                {
                                    @DateTime.Now.ToString("yyyy");
                                }
                                else
                                {
                                    @DateTime.Now.AddYears(-1).ToString("yyyy");
                                }
                            }
                        </option>
                        <option value="0">
                            @{
                                if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                                {
                                    @DateTime.Now.AddYears(1).ToString("yyyy");
                                }
                                else
                                {
                                    @DateTime.Now.ToString("yyyy");
                                }
                            }
                        </option>
                        @*<option value="1">
                            @{
                                if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                                {
                                    @DateTime.Now.AddYears(2).ToString("yyyy");
                                }
                                else
                                {
                                    @DateTime.Now.AddYears(1).ToString("yyyy");
                                }
                            }
                        </option>*@
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-form-label col-md-5 text-md-right">รายงานประจำเดือน: </label>
                    <select name="month" class="form-control col-md-7" asp-items="ViewBag.Month" onchange="this.form.submit()"></select>
                </div>
            </div>
        </div>
    </form>

    <!-- Plan A -->
    @if (Model.pointA != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายจากผู้บริหาร (Top - Down: A)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="Update" method="post">
                        <table class="table table-bordered" id="EPEStable" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        คะแนน
                                    </th>
                                    <th>
                                        เห็นชอบ
                                    </th>
                                    <th>
                                        ความเห็น
                                    </th>
                                    <th>
                                        รายละเอียด
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointA.Count(); i++)
                                {
                                <tr>
                                    <td>
                                        @Model.pointA[i].Point
                                    </td>
                                    <td>
                                        @Model.pointA[i].Name
                                    </td>
                                    <td>
                                        @Model.pointA[i].Weight.ToString("N2")
                                    </td>
                                    <td>
                                        @foreach (var item in @Model.pointA[i].ScoreDrafts)
                                        {
                                            if (item.LastMonth == Model.month && item.OfficeId == Model.pointA[i].OwnerOfficeId)
                                            {
                                                sd = item;
                                            }
                                        }
                                        @string.Format("{0:N4}", sd?.ScoreValue)
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="Index" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- Plan B -->
    @if (Model.pointB != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายที่ถ่ายทอดไปยังหน่วยปฏิบัติ (Top - Down: B)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="Update" method="post">
                        <table class="table table-bordered" id="EPEStableB" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        คะแนน
                                    </th>
                                    <th>
                                        เห็นชอบ
                                    </th>
                                    <th>
                                        ความเห็น
                                    </th>
                                    <th>
                                        รายละเอียด
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointB.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Model.pointB[i].Point
                                        </td>
                                        <td>
                                            @Model.pointB[i].Name
                                        </td>
                                        <td>
                                            @Model.pointB[i].Weight.ToString("N2")
                                        </td>
                                        <td>
                                            @foreach (var item in @Model.pointB[i].ScoreDrafts)
                                            {
                                                if (item.LastMonth == Model.month && item.OfficeId == Model.pointB[i].OwnerOfficeId)
                                                {
                                                    sd = item;
                                                }
                                            }
                                            @string.Format("{0:N4}", sd?.ScoreValue)
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="Index" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- Plan C แผนงานตามความต้องการของหน่วยงาน (Bottom - Up: C)-->
    @if (Model.pointC != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามความต้องการของหน่วยงาน (Bottom - Up: C)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="Update" method="post">
                        <table class="table table-bordered" id="EPEStableC" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        คะแนน
                                    </th>
                                    <th>
                                        เห็นชอบ
                                    </th>
                                    <th>
                                        ความเห็น
                                    </th>
                                    <th>
                                        รายละเอียด
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointC.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Model.pointC[i].Point
                                        </td>
                                        <td>
                                            @Model.pointC[i].Name
                                        </td>
                                        <td>
                                            @Model.pointC[i].Weight.ToString("N2")
                                        </td>
                                        <td>
                                            @foreach (var item in @Model.pointC[i].ScoreDrafts)
                                            {
                                                if (item.LastMonth == Model.month && item.OfficeId == Model.pointC[i].OwnerOfficeId)
                                                {
                                                    sd = item;
                                                }
                                            }
                                            @string.Format("{0:N4}", sd?.ScoreValue)
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="Index" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- Plan D -->
    @if (Model.pointD != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานร่วม (Joint KPI: D)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="Update" method="post">
                        <table class="table table-bordered" id="EPEStableD" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        คะแนน
                                    </th>
                                    <th>
                                        เห็นชอบ
                                    </th>
                                    <th>
                                        ความเห็น
                                    </th>
                                    <th>
                                        รายละเอียด
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointD.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Model.pointD[i].Point
                                        </td>
                                        <td>
                                            @Model.pointD[i].Name
                                        </td>
                                        <td>
                                            @Model.pointD[i].Weight.ToString("N2")
                                        </td>
                                        <td>
                                            @foreach (var item in @Model.pointD[i].ScoreDrafts)
                                            {
                                                if (item.LastMonth == Model.month && item.OfficeId == Model.pointD[i].OwnerOfficeId)
                                                {
                                                    sd = item;
                                                }
                                            }
                                            @string.Format("{0:N4}", sd?.ScoreValue)
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="Index" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_dataTableScript" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
