@model EPES.ViewModels.DataForEvaluationViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">ผลการปฏิบัติราชการ</h1>
    <p class="mb-4">บันทึกผล @Model.Point.OwnerOffice.Name</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Point.Name</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="DataForEvalutionTable" style="width:100%;" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            เดือน
                        </th>
                        <th>
                            ผลการปฏิบัติราชการ
                        </th>
                        <th>
                            รายละเอียด
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @(new DateTime(1, 10, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result10)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result10)
                                {
                                    case 1:
                                        Html.DisplayFor(m => m.Point.DetailRate1);
                                        break;
                                    case 2:
                                        Html.DisplayFor(m => m.Point.DetailRate2);
                                        break;
                                    case 3:
                                        Html.DisplayFor(m => m.Point.DetailRate3);
                                        break;
                                    case 4:
                                        Html.DisplayFor(m => m.Point.DetailRate4);
                                        break;
                                    case 5:
                                        Html.DisplayFor(m => m.Point.DetailRate5);
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 11, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result11)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result11)
                                {
                                    case 1:
                                        Html.DisplayFor(m => m.Point.DetailRate1);
                                        break;
                                    case 2:
                                        Html.DisplayFor(m => m.Point.DetailRate2);
                                        break;
                                    case 3:
                                        Html.DisplayFor(m => m.Point.DetailRate3);
                                        break;
                                    case 4:
                                        Html.DisplayFor(m => m.Point.DetailRate4);
                                        break;
                                    case 5:
                                        Html.DisplayFor(m => m.Point.DetailRate5);
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 12, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result12)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result12)
                                {
                                    case 1:
                                        Html.DisplayFor(m => m.Point.DetailRate1);
                                        break;
                                    case 2:
                                        Html.DisplayFor(m => m.Point.DetailRate2);
                                        break;
                                    case 3:
                                        Html.DisplayFor(m => m.Point.DetailRate3);
                                        break;
                                    case 4:
                                        Html.DisplayFor(m => m.Point.DetailRate4);
                                        break;
                                    case 5:
                                        Html.DisplayFor(m => m.Point.DetailRate5);
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 1, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result1)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result1)
                                {
                                    case 1:
                                        Html.DisplayFor(m => m.Point.DetailRate1);
                                        break;
                                    case 2:
                                        Html.DisplayFor(m => m.Point.DetailRate2);
                                        break;
                                    case 3:
                                        Html.DisplayFor(m => m.Point.DetailRate3);
                                        break;
                                    case 4:
                                        Html.DisplayFor(m => m.Point.DetailRate4);
                                        break;
                                    case 5:
                                        Html.DisplayFor(m => m.Point.DetailRate5);
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 2, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result2)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result2)
                                {
                                    case 1:
                                        Html.DisplayFor(m => m.Point.DetailRate1);
                                        break;
                                    case 2:
                                        Html.DisplayFor(m => m.Point.DetailRate2);
                                        break;
                                    case 3:
                                        Html.DisplayFor(m => m.Point.DetailRate3);
                                        break;
                                    case 4:
                                        Html.DisplayFor(m => m.Point.DetailRate4);
                                        break;
                                    case 5:
                                        Html.DisplayFor(m => m.Point.DetailRate5);
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 3, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result3)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result3)
                                {
                                    case 1:
                                        Html.DisplayFor(m => m.Point.DetailRate1);
                                        break;
                                    case 2:
                                        Html.DisplayFor(m => m.Point.DetailRate2);
                                        break;
                                    case 3:
                                        Html.DisplayFor(m => m.Point.DetailRate3);
                                        break;
                                    case 4:
                                        Html.DisplayFor(m => m.Point.DetailRate4);
                                        break;
                                    case 5:
                                        Html.DisplayFor(m => m.Point.DetailRate5);
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 4, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result4)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result4)
                                {
                                    case 1:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate1);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate1);
                                        }
                                        break;
                                    case 2:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate2);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate2);
                                        }
                                        break;
                                    case 3:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate3);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate3);
                                        }
                                        break;
                                    case 4:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate4);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate4);
                                        }
                                        break;
                                    case 5:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate5);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate5);
                                        }
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 5, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result5)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result5)
                                {
                                    case 1:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate1);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate1);
                                        }
                                        break;
                                    case 2:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate2);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate2);
                                        }
                                        break;
                                    case 3:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate3);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate3);
                                        }
                                        break;
                                    case 4:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate4);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate4);
                                        }
                                        break;
                                    case 5:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate5);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate5);
                                        }
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 6, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result6)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result6)
                                {
                                    case 1:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate1);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate1);
                                        }
                                        break;
                                    case 2:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate2);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate2);
                                        }
                                        break;
                                    case 3:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate3);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate3);
                                        }
                                        break;
                                    case 4:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate4);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate4);
                                        }
                                        break;
                                    case 5:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate5);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate5);
                                        }
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 7, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result7)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result7)
                                {
                                    case 1:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate1);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate1);
                                        }
                                        break;
                                    case 2:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate2);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate2);
                                        }
                                        break;
                                    case 3:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate3);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate3);
                                        }
                                        break;
                                    case 4:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate4);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate4);
                                        }
                                        break;
                                    case 5:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate5);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate5);
                                        }
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 8, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result8)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result8)
                                {
                                    case 1:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate1);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate1);
                                        }
                                        break;
                                    case 2:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate2);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate2);
                                        }
                                        break;
                                    case 3:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate3);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate3);
                                        }
                                        break;
                                    case 4:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate4);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate4);
                                        }
                                        break;
                                    case 5:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate5);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate5);
                                        }
                                        break;
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @(new DateTime(1, 9, 1).ToString("MMMM"))
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.result9)
                        </td>
                        <td>
                            @if (Model.Point.Unit == UnitOfPoint.ระดับ)
                            {
                                switch (Model.result9)
                                {
                                    case 1:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate1);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate1);
                                        }
                                        break;
                                    case 2:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate2);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate2);
                                        }
                                        break;
                                    case 3:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate3);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate3);
                                        }
                                        break;
                                    case 4:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate4);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate4);
                                        }
                                        break;
                                    case 5:
                                        if (Model.Point.Detail2Rate1 == null)
                                        {
                                            Html.DisplayFor(m => m.Point.DetailRate5);
                                        }
                                        else
                                        {
                                            Html.DisplayFor(m => m.Point.Detail2Rate5);
                                        }
                                        break;
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a asp-action="Index" class="btn btn-info" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice">กลับหน้า บันทึกผลการปฏิบัติราชการ</a>
            </div>
        </div>
    </div>
</div>
