@model EPES.ViewModels.DataForEvaluationViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">ผลการปฏิบัติราชการ</h1>
    <p class="mb-4">บันทึกผล @Model.Point.OwnerOffice.Name</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@Model.Point.Name</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <table class="table table-bordered" id="DataForEvalutionTable" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        เดือน
                                    </th>
                                    <th>
                                        ผลการปฏิบัติราชการ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 10, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result10" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 11, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result11" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 12, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result12" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 1, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result1" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 2, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result2" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 3, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result3" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 4, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result4" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 5, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result5" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 6, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result6" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 7, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result7" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 8, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result8" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 9, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input asp-for="result9" class="form-control" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <input asp-for="yearPoint" class="form-control" hidden />
                            <input asp-for="poeid" value="@Model.Point.Id" class="form-control" hidden />
                            <input type="submit" value="บันทึก" class="btn btn-primary" />
                            <a asp-area="" asp-controller="Results" asp-action="Index" asp-route-yearPoint="@Model.yearPoint" class="btn btn-secondary">ยกเลิก</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
