@using Microsoft.AspNetCore.Identity
@using System.Globalization
@model EPES.ViewModels.ResultViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Data for Evaluation";
    var user = await UserManager.GetUserAsync(User);
}

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>
<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>
<!-- Uncomment to enable the client-side export feature -->
<!-- script src="~/js/devextreme/jszip.js"></script -->
<!-- Uncomment to provide geo-data for the VectorMap control -->
<!-- script src="~/js/devextreme/vectormap-data/world.js"></script -->
<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">ผลการปฏิบัติราชการ</h1>
    <p class="mb-4">บันทึกผล</p>
    <form asp-action="IndexMonth">
        <div class="row justify-content-between">
            <div class="col-md-4">
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <div class="row">
                        <label class="col-form-label col-md-3 text-md-right">หน่วยงาน: </label>
                        <select name="selectoffice" class="form-control col-md-7" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()">
                            <option value="">เลือกหน่วยงาน</option>
                        </select>
                    </div>

                }
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-form-label col-md-5 text-md-right">รายงานประจำเดือน: </label>
                    <select name="month" class="form-control col-md-7" asp-items="ViewBag.Month" onchange="this.form.submit()"></select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="col-form-label col-md-6 text-md-right">ปีงบประมาณ: </label>
                    <select asp-for="yearPoint" class="form-control col-md-6" onchange="this.form.submit()">
                        <option value="-1">@DateTime.Now.AddYears(-1).ToString("yyyy")</option>
                        <option value="0">@DateTime.Now.ToString("yyyy")</option>
                        <option value="1">@DateTime.Now.AddYears(1).ToString("yyyy")</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <!-- Plan A -->
    @if (Model.pointA != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายจากผู้บริหาร (Top - Down: A)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="UpdateMonth" method="post">
                        <table class="table table-bordered" id="EPEStable" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        <i class="fas fa-bullseye" title="เป้าหมาย/ประมาณการ"></i>
                                    </th>
                                    <th>
                                        ผลการปฏิบัติ
                                    </th>
                                    <th>
                                        <i class="far fa-calendar-check" title="วันที่แล้วเสร็จ"></i> วันที่แล้วเสร็จ
                                    </th>
                                    <th>
                                        <i class="fas fa-paperclip" title="ไฟล์แนบ"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointA.Count(); i++)
                                {

                                    <tr>
                                        <td>
                                            @Model.pointA[i].Point
                                        </td>

                                        <td>
                                            @Model.pointA[i].Name
                                        </td>
                                        <td>
                                            @Model.pointA[i].Weight.ToString("N2")
                                        </td>
                                        @{
                                            DataForEvaluation de = null;
                                        }
                                        @foreach (var item in @Model.pointA[i].DataForEvaluations)
                                        {
                                            if (item.Month == Model.month && item.OfficeId == Model.pointA[i].OwnerOfficeId)
                                            {
                                                de = item;
                                            }
                                        }
                                        <td>@string.Format("{0:N4}", de?.Expect)</td>

                                        @if (Model.pointA[i].Unit == UnitOfPoint.ร้อยละ)
                                        {
                                        <td>
                                            @{
                                                //@Html.TextBox("UpdateData[" + @i + "].Result", de?.Result, new { @class = "form-control" })
                                                if (de != null)
                                                {
                                                    double v = (double)de.Result;
                                                    Html.DevExtreme().NumberBox()
                                                    .Format("#,##0.0000")
                                                    .Value(v)
                                                    .Disabled(true);
                                                }
                                            }
                                            <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                            <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointA[i].Id />
                                            <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointA[i].OwnerOfficeId />
                                            <input type="hidden" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                        </td>
                                            <td></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>
                                                @{
                                                    List<Object> list = new List<object>();
                                                    list.Add(new { Value = 1, Detail = "1." + Model.pointA[i].DetailRate1 });
                                                    list.Add(new { Value = 2, Detail = "2." + Model.pointA[i].DetailRate2 });
                                                    list.Add(new { Value = 3, Detail = "3." + Model.pointA[i].DetailRate3 });
                                                    list.Add(new { Value = 4, Detail = "4." + Model.pointA[i].DetailRate4 });
                                                    list.Add(new { Value = 5, Detail = "5." + Model.pointA[i].DetailRate5 });

                                                    if ((3 < Model.month) && (Model.month < 10) && !String.IsNullOrEmpty(Model.pointA[i].Detail2Rate1))
                                                    {
                                                        list.Clear();
                                                        list.Add(new { Value = 1, Detail = "1." + Model.pointA[i].Detail2Rate1 });
                                                        list.Add(new { Value = 2, Detail = "2." + Model.pointA[i].Detail2Rate2 });
                                                        list.Add(new { Value = 3, Detail = "3." + Model.pointA[i].Detail2Rate3 });
                                                        list.Add(new { Value = 4, Detail = "4." + Model.pointA[i].Detail2Rate4 });
                                                        list.Add(new { Value = 5, Detail = "5." + Model.pointA[i].Detail2Rate5 });
                                                    }

                                                    ViewBag.SelectLevel = new SelectList(list, "Value", "Detail", de == null ? 1 : (int)de.Result);
                                                }
                                                <select name="UpdateData[@i].Result" class="form-control" asp-items="ViewBag.SelectLevel"></select>
                                            </td>
                                            <td>
                                                <input type="date" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                                <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                                <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointA[i].Id />
                                                <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointA[i].OwnerOfficeId />
                                            </td>
                                            <td>
                                                @if (de != null)
                                                {
                                                    @(Html.DevExtreme().Popup()
                                                                                                                .ID("attach-popup")
                                                                                                                .ElementAttr("class", "popup")
                                                                                                                .Width(500)
                                                                                                                .Height(400)
                                                                                                                .ShowTitle(true)
                                                                                                                .Title("แนบไฟล์")
                                                                                                                .Visible(false)
                                                                                                                .DragEnabled(false)
                                                                                                                .CloseOnOutsideClick(true)
                                                    )
                                                    @(Html.DevExtreme().Button()
                                                                                                                .ElementAttr("class", "button-info")
                                                                                                                .Text("แนบ")
                                                                                                                .OnClick(@<text>
                                                                                                                    function showInfo(data) {
                                                                                                                    var popup = $("#attach-popup").dxPopup("instance");
                                                                                                                    popup.option("contentTemplate", $("#popup-template-" + @de?.Id));
                                                                                                                    popup.show();
                                                                                                                    }
                                                                                                                </text>)
                                                    )
                                                    @if (de?.AttachFile != null)
                                                    {
                                                        <a href="~/attach_files/@de?.AttachFile" target="_blank"><i class="fas fa-file-pdf fa-2x"></i></a><br />
                                                        @(Html.DevExtreme().Button()
                                                                                                                .ElementAttr("class", "button-danger")
                                                                                                                .Text("ลบ")
                                                                                                                .Type(ButtonType.Danger)
                                                                                                                .OnClick(@<text>
                                                                                                                    function showInfo(data) {
                                                                                                                    var popup = $("#attach-popup").dxPopup("instance");
                                                                                                                    popup.option("contentTemplate", $("#popup-template-del-" + @de?.Id));
                                                                                                                    popup.show();
                                                                                                                    }
                                                                                                                </text>)
                                                        )
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" enctype="multipart/form-data" action="FileSelection">
                                                            <h3>แนบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <div id="fileuploader-container">
                                                                @(Html.DevExtreme().FileUploader()
                                                                                                                              .Name("AttachFile")
                                                                                                                              .SelectButtonText("เลือกไฟล์แนบ")
                                                                                                                              .LabelText("")
                                                                                                                              .Accept("application/pdf")
                                                                                                                              .UploadMode(FileUploadMode.UseForm)
                                                                )
                                                            </div>
                                                            @(Html.DevExtreme().Button()
                                                                                                                          .ID("button")
                                                                                                                          .Text("ส่งไฟล์แนบ")
                                                                                                                          .Type(ButtonType.Success)
                                                                                                                          .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-del-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" action="FileDelete">
                                                            <h3>ลบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <h5>@de.AttachFile</h5>
                                                            @(Html.DevExtreme().Button()
                                                                                                                          .ID("button")
                                                                                                                          .Text("ลบไฟล์แนบ")
                                                                                                                          .Type(ButtonType.Danger)
                                                                                                                          .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="IndexMonth" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- Plan B -->
    @if (Model.pointB != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายที่ถ่ายทอดไปยังหน่วยปฏิบัติ (Top - Down: B)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="UpdateMonth" method="post">
                        <table class="table table-bordered" id="EPEStableB" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        <i class="fas fa-bullseye" title="เป้าหมาย/ประมาณการ"></i>
                                    </th>
                                    <th>
                                        ผลการปฏิบัติ
                                    </th>
                                    <th>
                                        <i class="far fa-calendar-check" title="วันที่แล้วเสร็จ"></i> วันที่แล้วเสร็จ
                                    </th>
                                    <th>
                                        <i class="fas fa-paperclip" title="ไฟล์แนบ"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointB.Count(); i++)
                                {

                                    <tr>
                                        <td>
                                            @Model.pointB[i].Point
                                        </td>

                                        <td>
                                            @Model.pointB[i].Name
                                        </td>
                                        <td>
                                            @Model.pointB[i].Weight.ToString("N2")
                                        </td>
                                        @{
                                            DataForEvaluation de = null;
                                        }
                                        @foreach (var item in @Model.pointB[i].DataForEvaluations)
                                        {
                                            if (item.Month == Model.month && item.OfficeId == Model.pointB[i].OwnerOfficeId)
                                            {
                                                de = item;
                                            }
                                        }
                                        <td>@string.Format("{0:N4}", de?.Expect)</td>

                                        @if (Model.pointB[i].Unit == UnitOfPoint.ร้อยละ)
                                        {
                                        <td>
                                            @{
                                                @Html.TextBox("UpdateData[" + @i + "].Result", de?.Result, new { @class = "form-control" })
                                                //if (de != null)
                                                //{
                                                //    double v = (double)de.Result;
                                                //    Html.DevExtreme().NumberBox()
                                                //    .Format("#,##0.0000")
                                                //    .Value(v)
                                                //    .Disabled(true);
                                                //}
                                            }
                                            <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                            <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointB[i].Id />
                                            <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointB[i].OwnerOfficeId />
                                            <input type="hidden" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                        </td>
                                            <td></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>
                                                @{
                                                    List<Object> list = new List<object>();
                                                    list.Add(new { Value = 1, Detail = "1." + Model.pointB[i].DetailRate1 });
                                                    list.Add(new { Value = 2, Detail = "2." + Model.pointB[i].DetailRate2 });
                                                    list.Add(new { Value = 3, Detail = "3." + Model.pointB[i].DetailRate3 });
                                                    list.Add(new { Value = 4, Detail = "4." + Model.pointB[i].DetailRate4 });
                                                    list.Add(new { Value = 5, Detail = "5." + Model.pointB[i].DetailRate5 });

                                                    if ((3 < Model.month) && (Model.month < 10) && !String.IsNullOrEmpty(Model.pointB[i].Detail2Rate1))
                                                    {
                                                        list.Clear();
                                                        list.Add(new { Value = 1, Detail = "1." + Model.pointB[i].Detail2Rate1 });
                                                        list.Add(new { Value = 2, Detail = "2." + Model.pointB[i].Detail2Rate2 });
                                                        list.Add(new { Value = 3, Detail = "3." + Model.pointB[i].Detail2Rate3 });
                                                        list.Add(new { Value = 4, Detail = "4." + Model.pointB[i].Detail2Rate4 });
                                                        list.Add(new { Value = 5, Detail = "5." + Model.pointB[i].Detail2Rate5 });
                                                    }

                                                    ViewBag.SelectLevel = new SelectList(list, "Value", "Detail", de == null ? 1 : (int)de.Result);
                                                }
                                                <select name="UpdateData[@i].Result" class="form-control" asp-items="ViewBag.SelectLevel"></select>
                                            </td>
                                            <td>
                                                <input type="date" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                                <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                                <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointB[i].Id />
                                                <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointB[i].OwnerOfficeId />
                                            </td>
                                            <td>
                                                @if (de != null)
                                                {
                                                    @(Html.DevExtreme().Popup()
                                                                                              .ID("attach-popup")
                                                                                              .ElementAttr("class", "popup")
                                                                                              .Width(500)
                                                                                              .Height(400)
                                                                                              .ShowTitle(true)
                                                                                              .Title("แนบไฟล์")
                                                                                              .Visible(false)
                                                                                              .DragEnabled(false)
                                                                                              .CloseOnOutsideClick(true)
                                                    )
                                                    @(Html.DevExtreme().Button()
                                                                                              .ElementAttr("class", "button-info")
                                                                                              .Text("แนบ")
                                                                                              .OnClick(@<text>
                                                                                                function showInfo(data) {
                                                                                                var popup = $("#attach-popup").dxPopup("instance");
                                                                                                popup.option("contentTemplate", $("#popup-template-" + @de?.Id));
                                                                                                popup.show();
                                                                                                }
                                                                                            </text>)
                                                    )
                                                    @if (de?.AttachFile != null)
                                                    {
                                                        <a href="~/attach_files/@de?.AttachFile" target="_blank"><i class="fas fa-file-pdf fa-2x"></i></a><br />
                                                        @(Html.DevExtreme().Button()
                                                                                                                                .ElementAttr("class", "button-danger")
                                                                                                                                .Text("ลบ")
                                                                                                                                .Type(ButtonType.Danger)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function showInfo(data) {
                                                                                                                                    var popup = $("#attach-popup").dxPopup("instance");
                                                                                                                                    popup.option("contentTemplate", $("#popup-template-del-" + @de?.Id));
                                                                                                                                    popup.show();
                                                                                                                                    }
                                                                                                                                </text>)
                                                        )
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" enctype="multipart/form-data" action="FileSelection">
                                                            <h3>แนบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <div id="fileuploader-container">
                                                                @(Html.DevExtreme().FileUploader()
                                                                                                                      .Name("AttachFile")
                                                                                                                      .SelectButtonText("เลือกไฟล์แนบ")
                                                                                                                      .LabelText("")
                                                                                                                      .Accept("application/pdf")
                                                                                                                      .UploadMode(FileUploadMode.UseForm)
                                                                )
                                                            </div>
                                                            @(Html.DevExtreme().Button()
                                                                                                                      .ID("button")
                                                                                                                      .Text("ส่งไฟล์แนบ")
                                                                                                                      .Type(ButtonType.Success)
                                                                                                                      .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-del-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" action="FileDelete">
                                                            <h3>ลบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <h5>@de.AttachFile</h5>
                                                            @(Html.DevExtreme().Button()
                                                                                                                                  .ID("button")
                                                                                                                                  .Text("ลบไฟล์แนบ")
                                                                                                                                  .Type(ButtonType.Danger)
                                                                                                                                  .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="IndexMonth" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- Plan C -->
    @if (Model.pointC != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามความต้องการของหน่วยงาน (Bottom - Up: C)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="UpdateMonth" method="post">
                        <table class="table table-bordered" id="EPEStableC" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        <i class="fas fa-bullseye" title="เป้าหมาย/ประมาณการ"></i>
                                    </th>
                                    <th>
                                        ผลการปฏิบัติ
                                    </th>
                                    <th>
                                        <i class="far fa-calendar-check" title="วันที่แล้วเสร็จ"></i> วันที่แล้วเสร็จ
                                    </th>
                                    <th>
                                        <i class="fas fa-paperclip" title="ไฟล์แนบ"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointC.Count(); i++)
                                {

                                    <tr>
                                        <td>
                                            @Model.pointC[i].Point
                                        </td>

                                        <td>
                                            @Model.pointC[i].Name
                                        </td>
                                        <td>
                                            @Model.pointC[i].Weight.ToString("N2")
                                        </td>
                                        @{
                                            DataForEvaluation de = null;
                                        }
                                        @foreach (var item in @Model.pointC[i].DataForEvaluations)
                                        {
                                            if (item.Month == Model.month && item.OfficeId == Model.pointC[i].OwnerOfficeId)
                                            {
                                                de = item;
                                            }
                                        }
                                        <td>@string.Format("{0:N4}", de?.Expect)</td>

                                        @if (Model.pointC[i].Unit == UnitOfPoint.ร้อยละ)
                                        {
                                        <td>
                                            @Html.TextBox("UpdateData[" + @i + "].Result", de?.Result, new { @class = "form-control" })
                                            <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                            <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointC[i].Id />
                                            <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointC[i].OwnerOfficeId />
                                            <input type="hidden" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                        </td>
                                            <td></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>
                                                @{
                                                    List<Object> list = new List<object>();
                                                    list.Add(new { Value = 1, Detail = "1." + Model.pointC[i].DetailRate1 });
                                                    list.Add(new { Value = 2, Detail = "2." + Model.pointC[i].DetailRate2 });
                                                    list.Add(new { Value = 3, Detail = "3." + Model.pointC[i].DetailRate3 });
                                                    list.Add(new { Value = 4, Detail = "4." + Model.pointC[i].DetailRate4 });
                                                    list.Add(new { Value = 5, Detail = "5." + Model.pointC[i].DetailRate5 });

                                                    if ((3 < Model.month) && (Model.month < 10) && !String.IsNullOrEmpty(Model.pointC[i].Detail2Rate1))
                                                    {
                                                        list.Clear();
                                                        list.Add(new { Value = 1, Detail = "1." + Model.pointC[i].Detail2Rate1 });
                                                        list.Add(new { Value = 2, Detail = "2." + Model.pointC[i].Detail2Rate2 });
                                                        list.Add(new { Value = 3, Detail = "3." + Model.pointC[i].Detail2Rate3 });
                                                        list.Add(new { Value = 4, Detail = "4." + Model.pointC[i].Detail2Rate4 });
                                                        list.Add(new { Value = 5, Detail = "5." + Model.pointC[i].Detail2Rate5 });
                                                    }

                                                    ViewBag.SelectLevel = new SelectList(list, "Value", "Detail", de == null ? 1 : (int)de.Result);
                                                }
                                                <select name="UpdateData[@i].Result" class="form-control" asp-items="ViewBag.SelectLevel"></select>
                                            </td>
                                            <td>
                                                <input type="date" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                                <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                                <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointC[i].Id />
                                                <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointC[i].OwnerOfficeId />
                                            </td>
                                            <td>
                                                @if (de != null)
                                                {
                                                    @(Html.DevExtreme().Popup()
                                                                                                      .ID("attach-popup")
                                                                                                      .ElementAttr("class", "popup")
                                                                                                      .Width(500)
                                                                                                      .Height(400)
                                                                                                      .ShowTitle(true)
                                                                                                      .Title("แนบไฟล์")
                                                                                                      .Visible(false)
                                                                                                      .DragEnabled(false)
                                                                                                      .CloseOnOutsideClick(true)
                                                    )
                                                    @(Html.DevExtreme().Button()
                                                                                                      .ElementAttr("class", "button-info")
                                                                                                      .Text("แนบ")
                                                                                                      .OnClick(@<text>
                                                                                                        function showInfo(data) {
                                                                                                        var popup = $("#attach-popup").dxPopup("instance");
                                                                                                        popup.option("contentTemplate", $("#popup-template-" + @de?.Id));
                                                                                                        popup.show();
                                                                                                        }
                                                                                                    </text>)
                                                    )
                                                    @if (de?.AttachFile != null)
                                                    {
                                                        <a href="~/attach_files/@de?.AttachFile" target="_blank"><i class="fas fa-file-pdf fa-2x"></i></a><br />
                                                        @(Html.DevExtreme().Button()
                                                                                                                                .ElementAttr("class", "button-danger")
                                                                                                                                .Text("ลบ")
                                                                                                                                .Type(ButtonType.Danger)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function showInfo(data) {
                                                                                                                                    var popup = $("#attach-popup").dxPopup("instance");
                                                                                                                                    popup.option("contentTemplate", $("#popup-template-del-" + @de?.Id));
                                                                                                                                    popup.show();
                                                                                                                                    }
                                                                                                                                </text>)
                                                        )
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" enctype="multipart/form-data" action="FileSelection">
                                                            <h3>แนบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <div id="fileuploader-container">
                                                                @(Html.DevExtreme().FileUploader()
                                                                                                                              .Name("AttachFile")
                                                                                                                              .SelectButtonText("เลือกไฟล์แนบ")
                                                                                                                              .LabelText("")
                                                                                                                              .Accept("application/pdf")
                                                                                                                              .UploadMode(FileUploadMode.UseForm)
                                                                )
                                                            </div>
                                                            @(Html.DevExtreme().Button()
                                                                                                                              .ID("button")
                                                                                                                              .Text("ส่งไฟล์แนบ")
                                                                                                                              .Type(ButtonType.Success)
                                                                                                                              .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-del-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" action="FileDelete">
                                                            <h3>ลบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <h5>@de.AttachFile</h5>
                                                            @(Html.DevExtreme().Button()
                                                                                                                                  .ID("button")
                                                                                                                                  .Text("ลบไฟล์แนบ")
                                                                                                                                  .Type(ButtonType.Danger)
                                                                                                                                  .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="IndexMonth" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
    <!-- Plan D -->
    @if (Model.pointD != null)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานร่วม (Joint KPI: D)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form asp-action="UpdateMonth" method="post">
                        <table class="table table-bordered" id="EPEStableD" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        ที่
                                    </th>
                                    <th>
                                        ตัวชี้วัด
                                    </th>
                                    <th>
                                        <i class="fas fa-percent" title="น้ำหนักร้อยละ"></i>
                                    </th>
                                    <th>
                                        <i class="fas fa-bullseye" title="เป้าหมาย/ประมาณการ"></i>
                                    </th>
                                    <th>
                                        ผลการปฏิบัติ
                                    </th>
                                    <th>
                                        <i class="far fa-calendar-check" title="วันที่แล้วเสร็จ"></i> วันที่แล้วเสร็จ
                                    </th>
                                    <th>
                                        <i class="fas fa-paperclip" title="ไฟล์แนบ"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.pointD.Count(); i++)
                                {

                                    <tr>
                                        <td>
                                            @Model.pointD[i].Point
                                        </td>

                                        <td>
                                            @Model.pointD[i].Name
                                        </td>
                                        <td>
                                            @Model.pointD[i].Weight.ToString("N2")
                                        </td>
                                        @{
                                            DataForEvaluation de = null;
                                        }
                                        @foreach (var item in @Model.pointD[i].DataForEvaluations)
                                        {
                                            if (item.Month == Model.month && item.OfficeId == Model.pointD[i].OwnerOfficeId)
                                            {
                                                de = item;
                                            }
                                        }
                                        <td>@string.Format("{0:N4}", de?.Expect)</td>

                                        @if (Model.pointD[i].Unit == UnitOfPoint.ร้อยละ)
                                        {
                                        <td>
                                            @Html.TextBox("UpdateData[" + @i + "].Result", de?.Result, new { @class = "form-control" })
                                            <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                            <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointD[i].Id />
                                            <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointD[i].OwnerOfficeId />
                                            <input type="hidden" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                        </td>
                                            <td></td>
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td>
                                                @{
                                                    List<Object> list = new List<object>();
                                                    list.Add(new { Value = 1, Detail = "1." + Model.pointD[i].DetailRate1 });
                                                    list.Add(new { Value = 2, Detail = "2." + Model.pointD[i].DetailRate2 });
                                                    list.Add(new { Value = 3, Detail = "3." + Model.pointD[i].DetailRate3 });
                                                    list.Add(new { Value = 4, Detail = "4." + Model.pointD[i].DetailRate4 });
                                                    list.Add(new { Value = 5, Detail = "5." + Model.pointD[i].DetailRate5 });

                                                    if ((3 < Model.month) && (Model.month < 10) && !String.IsNullOrEmpty(Model.pointD[i].Detail2Rate1))
                                                    {
                                                        list.Clear();
                                                        list.Add(new { Value = 1, Detail = "1." + Model.pointD[i].Detail2Rate1 });
                                                        list.Add(new { Value = 2, Detail = "2." + Model.pointD[i].Detail2Rate2 });
                                                        list.Add(new { Value = 3, Detail = "3." + Model.pointD[i].Detail2Rate3 });
                                                        list.Add(new { Value = 4, Detail = "4." + Model.pointD[i].Detail2Rate4 });
                                                        list.Add(new { Value = 5, Detail = "5." + Model.pointD[i].Detail2Rate5 });
                                                    }

                                                    ViewBag.SelectLevel = new SelectList(list, "Value", "Detail", de == null ? 1 : (int)de.Result);
                                                }
                                                <select name="UpdateData[@i].Result" class="form-control" asp-items="ViewBag.SelectLevel"></select>
                                            </td>
                                            <td>
                                                <input type="date" name="UpdateData[@i].Completed" value=@(de?.Completed ??  DateTime.Now.ToString("yyyy-MM-dd", CultureInfo.CreateSpecificCulture("en-US"))) />
                                                <input type="hidden" name="UpdateData[@i].Id" value=@de?.Id />
                                                <input type="hidden" name="UpdateData[@i].poeid" value=@Model.pointD[i].Id />
                                                <input type="hidden" name="UpdateData[@i].officeid" value=@Model.pointD[i].OwnerOfficeId />
                                            </td>
                                            <td>
                                                @if (de != null)
                                                {
                                                    @(Html.DevExtreme().Popup()
                                                                                                      .ID("attach-popup")
                                                                                                      .ElementAttr("class", "popup")
                                                                                                      .Width(500)
                                                                                                      .Height(400)
                                                                                                      .ShowTitle(true)
                                                                                                      .Title("แนบไฟล์")
                                                                                                      .Visible(false)
                                                                                                      .DragEnabled(false)
                                                                                                      .CloseOnOutsideClick(true)
                                                    )
                                                    @(Html.DevExtreme().Button()
                                                                                                      .ElementAttr("class", "button-info")
                                                                                                      .Text("แนบ")
                                                                                                      .OnClick(@<text>
                                                                                                        function showInfo(data) {
                                                                                                        var popup = $("#attach-popup").dxPopup("instance");
                                                                                                        popup.option("contentTemplate", $("#popup-template-" + @de?.Id));
                                                                                                        popup.show();
                                                                                                        }
                                                                                                    </text>)
                                                    )
                                                    @if (de?.AttachFile != null)
                                                    {
                                                        <a href="~/attach_files/@de?.AttachFile" target="_blank"><i class="fas fa-file-pdf fa-2x"></i></a><br />
                                                        @(Html.DevExtreme().Button()
                                                                                                                                .ElementAttr("class", "button-danger")
                                                                                                                                .Text("ลบ")
                                                                                                                                .Type(ButtonType.Danger)
                                                                                                                                .OnClick(@<text>
                                                                                                                                    function showInfo(data) {
                                                                                                                                    var popup = $("#attach-popup").dxPopup("instance");
                                                                                                                                    popup.option("contentTemplate", $("#popup-template-del-" + @de?.Id));
                                                                                                                                    popup.show();
                                                                                                                                    }
                                                                                                                                </text>)
                                                        )
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" enctype="multipart/form-data" action="FileSelection">
                                                            <h3>แนบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <div id="fileuploader-container">
                                                                @(Html.DevExtreme().FileUploader()
                                                                                                                              .Name("AttachFile")
                                                                                                                              .SelectButtonText("เลือกไฟล์แนบ")
                                                                                                                              .LabelText("")
                                                                                                                              .Accept("application/pdf")
                                                                                                                              .UploadMode(FileUploadMode.UseForm)
                                                                )
                                                            </div>
                                                            @(Html.DevExtreme().Button()
                                                                                                                              .ID("button")
                                                                                                                              .Text("ส่งไฟล์แนบ")
                                                                                                                              .Type(ButtonType.Success)
                                                                                                                              .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                    @using (Html.DevExtreme().NamedTemplate("popup-template-del-" + @de?.Id))
                                                    {
                                                        <form id="form" method="post" action="FileDelete">
                                                            <h3>ลบไฟล์ประกอบผลการปฏิบัติ</h3>
                                                            <h5>@de.AttachFile</h5>
                                                            @(Html.DevExtreme().Button()
                                                                                                                                  .ID("button")
                                                                                                                                  .Text("ลบไฟล์แนบ")
                                                                                                                                  .Type(ButtonType.Danger)
                                                                                                                                  .UseSubmitBehavior(true)
                                                            )
                                                            <input type="hidden" name="deid" value=@de?.Id />
                                                            <input asp-for="yearPoint" class="form-control" hidden />
                                                            <input asp-for="month" class="form-control" hidden />
                                                            <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                                                        </form>
                                                    }
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input asp-for="yearPoint" class="form-control" hidden />
                        <input asp-for="month" class="form-control" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <input type="submit" name="Update" value="บันทึก" class="btn btn-primary" />
                        <a asp-area="" asp-controller="Results" asp-action="IndexMonth" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" asp-route-month="@Model.month" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <partial name="_dataTableScript" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
