@using Microsoft.AspNetCore.Identity
@using EPES.Models
@using System.Globalization
@model EPES.ViewModels.ReportViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "รายงานผลการปฏิบัติงาน";
    var user = await UserManager.GetUserAsync(User);
}

<link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
<link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
<script src="~/js/devextreme/jquery.js"></script>
<script src="~/js/devextreme/cldr.js"></script>
<script src="~/js/devextreme/cldr/event.js"></script>
<script src="~/js/devextreme/cldr/supplemental.js"></script>
<script src="~/js/devextreme/cldr/unresolved.js"></script>
<script src="~/js/devextreme/globalize.js"></script>
<script src="~/js/devextreme/globalize/message.js"></script>
<script src="~/js/devextreme/globalize/number.js"></script>
<script src="~/js/devextreme/globalize/currency.js"></script>
<script src="~/js/devextreme/globalize/date.js"></script>
<!-- Uncomment to enable the client-side export feature -->
<!-- script src="~/js/devextreme/jszip.js"></script -->
<!-- Uncomment to provide geo-data for the VectorMap control -->
<!-- script src="~/js/devextreme/vectormap-data/world.js"></script -->
<script src="~/js/devextreme/dx.all.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
<script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">รายงานผลการปฏิบัติราชการ @user.OfficeName</h1>
</div>
<form asp-action="SubScoreReport">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="row">
                <label class="col-form-label col-md-3 text-md-right">หน่วยงาน: </label>
                @if (User.IsInRole("Admin") || User.IsInRole("Special") || User.IsInRole("Manager"))
                {
                    <select name="selectoffice" class="form-control col-md-9" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()">
                        <option value="">เลือกหน่วยงาน</option>
                    </select>
                }
                else
                {
                    <select name="selectoffice" class="form-control col-md-7" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()" disabled>
                        <option value="">เลือกหน่วยงาน</option>
                    </select>
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="col-form-label col-md-6 text-md-right">ปีงบประมาณ: </label>
                <select asp-for="yearPoint" class="form-control col-md-6" onchange="this.form.submit()">
                    <option value="-1">
                        @{
                            if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                            {
                                @DateTime.Now.ToString("yyyy");
                            }
                            else
                            {
                                @DateTime.Now.AddYears(-1).ToString("yyyy");
                            }
                        }
                    </option>
                    <option value="0">
                        @{
                            if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                            {
                                @DateTime.Now.AddYears(1).ToString("yyyy");
                            }
                            else
                            {
                                @DateTime.Now.ToString("yyyy");
                            }
                        }
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>
<div id="pivotgrid-demo">
    @(Html.DevExtreme().Chart()
            .ID("pivotgrid-chart-draft")
            .CommonSeriesSettings(s => s.Type(SeriesType.Bar))
            .Title("คะแนนเบื้องต้นจากการประเมินตนเอง")
            .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip").Format(Format.Decimal))
            .Size(s => s.Height(500))
            .AdaptiveLayout(l => l.Width(450))
        )
    
    <br />

    @(Html.DevExtreme().PivotGrid<ScoreDraft>()
    .ID("pivotgrid-draft")
    //.AllowSortingBySummary(true)
    .AllowFiltering(true)
    .ShowBorders(true)
    .ShowColumnGrandTotals(false)
    .ShowRowGrandTotals(true)
    .ShowRowTotals(false)
    .ShowColumnTotals(false)
    .FieldChooser(c => c.Enabled(false).Height(400))
    .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
    //.AllowExpandAll(true)
    .DataSource(d => d
        .Store(s => s.Mvc().Controller("OwnerScore").Key("Id").LoadAction("Get"))

        .Fields(fields => {
        fields.Add()
            .Caption("แผน")
            .DataField("plan")
            .Expanded(true)
            .Width(200)
            //.SortBySummaryField("ScoreValue")
            .Area(PivotGridArea.Row)
            .Selector(@<text>
                    function(data) {
                        if(data.plan == 0){
                            return  "แผน A";
                        }else if(data.plan == 1){
                            return  "แผน B";
                        }else if(data.plan == 2){
                            return  "แผน C";
                        }else if(data.plan == 3){
                            return  "แผน D";
                        }
                    }
                    </text>);

        //.SortBySummaryField("Total");

        fields.Add()
            .Caption("ตัวชี้วัด")
            .DataField("point")
            .Expanded(true)
            //.SortBy(PivotGridSortBy.DisplayText)
            //.SortOrder(SortOrder.Asc)
            .Width(400)
            .Area(PivotGridArea.Row)
            .Selector(@<text>
                    function(data) {
                        var p;
                        if(10 > data.point){
                            p = " " + data.point;
                        }else{
                            p = data.point;
                        }
                        if(data.subPoint == 0){
                            return  p + "." + data.name;
                        }else{
                            return  p + "." + data.subPoint + "." + data.name;
                        }
                    }
                    </text>);

        fields.Add()
            .Caption("ปีงบประมาณ")
            .DataField("year")
            //.GroupName("YearThai")
            //.GroupIndex(0)
            .Expanded(true)
            .Area(PivotGridArea.Column)

            //.DataType(PivotGridDataType.Date)
            //.Format(Format.Year)

                .Selector(@<text>
                    function(data) {
                        var y = data.year + 543;
                        return "ปีงบประมาณ " + y;
                    }
                    </text>);

    fields.Add()
            .Caption("เดือน")
            .DataField("lastMonth")
            //.GroupName("YearThai")
            //.GroupIndex(1)
            .Area(PivotGridArea.Column)
            //.DataType(PivotGridDataType.String)
            .SortBy(PivotGridSortBy.Value)
            .Selector(@<text>
                    function(data) {
                        var y = data.year + 543;
                        var yp = y - 1;
                        if(data.lastMonth == 10 || data.lastMonth == 11 || data.lastMonth == 12){
                            return yp + "/" + data.lastMonth ;
                        }else{
                             return y + "/" + data.lastMonth;
                        }
                    }
                    </text>);

            //fields.Add()
            //    .GroupName("YearThai")
            //    .Area(PivotGridArea.Column)
            //    //.GroupInterval(PivotGridGroupInterval.Year)
            //    .Visible(false);

            fields.Add()
                .Caption("ผล")
                .DataField("scoreValue")
                .SummaryType(SummaryType.Avg)
                
                .Format(f => f.Type(Format.FixedPoint).Precision(4))
                .Area(PivotGridArea.Data);
                //.CustomizeText("customizeText");

            fields.Add()
                .Caption("น้ำหนัก (%)")
                .DataField("weight")
                .SummaryType(SummaryType.Sum)
                .Format(f => f.Type(Format.FixedPoint).Precision(4))
                .Area(PivotGridArea.Data);

            fields.Add()
                .Caption("ถ่วงน้ำหนัก")
                .DataField("cal")
                .SummaryType(SummaryType.Sum)
                .Format(f => f.Type(Format.FixedPoint).Precision(4))
                .Area(PivotGridArea.Data);
        })
        )
        .OnInitialized("bind_chart")
    )

    <br />

    @(Html.DevExtreme().Chart()
        .ID("pivotgrid-chart-approved")
        .CommonSeriesSettings(s => s.Type(SeriesType.Bar))
        .Title("คะแนนที่ผ่านการอนุมัติ")
        .Tooltip(t => t.Enabled(true).CustomizeTooltip("customize_tooltip").Format(Format.Decimal))
        .Size(s => s.Height(350))
        .AdaptiveLayout(l => l.Width(450))
    )

    <br />

    @(Html.DevExtreme().PivotGrid<ScoreDraft>()
    .ID("pivotgrid-approved")
    //.AllowSortingBySummary(true)
    .AllowFiltering(true)
    .ShowBorders(true)
    .ShowColumnGrandTotals(false)
    .ShowRowGrandTotals(true)
    .ShowRowTotals(false)
    .ShowColumnTotals(false)
    .FieldChooser(c => c.Enabled(false).Height(400))
    .RowHeaderLayout(PivotGridRowHeadersLayout.Tree)
    //.AllowExpandAll(true)
    .DataSource(d => d
        .Store(s => s.Mvc().Controller("OwnerScore").Key("Id").LoadAction("Get"))

        .Fields(fields => {
        fields.Add()
            .Caption("แผน")
            .DataField("plan")
            .Expanded(true)
            .Width(200)
            //.SortBySummaryField("ScoreValue")
            .Area(PivotGridArea.Row)
            .Selector(@<text>
                    function(data) {
                        if(data.plan == 0){
                            return  "แผน A";
                        }else if(data.plan == 1){
                            return  "แผน B";
                        }else if(data.plan == 2){
                            return  "แผน C";
                        }else if(data.plan == 3){
                            return  "แผน D";
                        }
                    }
                    </text>);

        //.SortBySummaryField("Total");

        fields.Add()
            .Caption("ตัวชี้วัด")
            .DataField("point")
            .Expanded(true)
            //.SortBy(PivotGridSortBy.DisplayText)
            //.SortOrder(SortOrder.Asc)
            .Width(400)
            .Area(PivotGridArea.Row)
            .Selector(@<text>
                    function(data) {
                        var p;
                        if(10 > data.point){
                            p = " " + data.point;
                        }else{
                            p = data.point;
                        }
                        if(data.subPoint == 0){
                            return  p + "." + data.name;
                        }else{
                            return  p + "." + data.subPoint + "." + data.name;
                        }
                    }
                    </text>);

        //fields.Add()
        //            .Caption("ตัวชี้วัดย่อย")
        //            .DataField("subPoint")
        //            .Expanded(true)
        //            //.SortBy(PivotGridSortBy.DisplayText)
        //            //.SortOrder(SortOrder.Asc)
        //            //.Width(400)
        //            .Area(PivotGridArea.Row);

        //fields.Add()
        //            .Caption("รายละเอียดตัวชี้วัด")
        //            .DataField("name")
        //            //.Expanded(true)
        //            //.SortBy(PivotGridSortBy.DisplayText)
        //            //.SortOrder(SortOrder.Asc)
        //            //.Width(400)
        //            .Area(PivotGridArea.Row);

        fields.Add()
        .Caption("ปีงบประมาณ")
        .DataField("year")
        //.GroupName("YearThai")
        //.GroupIndex(0)
        .Expanded(true)
        .Area(PivotGridArea.Column)

            //.DataType(PivotGridDataType.Date)
            //.Format(Format.Year)

            .Selector(@<text>
                    function(data) {
                        var y = data.year + 543;
                        return "ปีงบประมาณ " + y;
                    }
                    </text>);

    fields.Add()
            .Caption("เดือน")
            .DataField("lastMonth")
            //.GroupName("YearThai")
            //.GroupIndex(1)
            .Area(PivotGridArea.Column)
            //.DataType(PivotGridDataType.String)
            .SortBy(PivotGridSortBy.Value)
            .Selector(@<text>
                    function(data) {
                        var y = data.year + 543;
                        var yp = y - 1;
                        if(data.lastMonth == 10 || data.lastMonth == 11 || data.lastMonth == 12){
                            return yp + "/" + data.lastMonth ;
                        }else{
                             return y + "/" + data.lastMonth;
                        }
                    }
                    </text>);

            fields.Add()
                .Caption("อนุมัติ")
                .DataField("scoreApprove")
                .SummaryType(SummaryType.Avg)
                .Format(f => f.Type(Format.FixedPoint).Precision(4))
                .Area(PivotGridArea.Data);
                //.CustomizeText("customizeText");
        })
        )
        .OnInitialized("bind_chart_approved")
    )
</div>
<br />
<br />

@section Scripts {
    <script>
        function customize_tooltip(args) {
            return {
                html: args.seriesName + " | <div class='currency'>" + args.valueText + "</div>"
            };
        }

        function customizeText(args) {
            if (args.valueText === "0.0000") {
                return "";
            }
            return args.valueText;
        }

        function bind_chart(e) {
            e.component.bindChart($("#pivotgrid-chart-draft"), {
                dataFieldsDisplayMode: "splitPanes",
                alternateDataFields: false,
                processCell: function (cellData) {
                    cellData.dataIndex = 0;
                    return cellData; // This line is optional
                }
            });
            //e.component.on("contentReady", contentReady);
        }

        function bind_chart_approved(e) {
            e.component.bindChart($("#pivotgrid-chart-approved"), {
                dataFieldsDisplayMode: "splitPanes",
                alternateDataFields: false
            });
            //e.component.on("contentReady", contentReady);
        }

        function contentReady(e) {

            var d = Date.now();
            var n = d.getFullYear() + 543;

            e.component.off("contentReady", contentReady);
            var dataSource = e.component.getDataSource()
            dataSource.expandHeaderItem("row", ["B แผนงานตามนโยบายที่ถ่ายทอดไปยังหน่วยปฏิบัติ (Top - Down:)"]);
            dataSource.expandHeaderItem("column", [n]);
        }
    </script>
}