@model EPES.ViewModels.ReportViewModel
@{
    ViewData["Title"] = "OwnerScoreReport";
}

<form asp-action="OwnerScoreReport">
    <div class="row justify-content-between">
        <div class="col-md-4">
            <div class="row">
                <label class="col-form-label col-md-3 text-md-right">หน่วยงาน: </label>
                <select name="selectoffice" class="form-control col-md-7" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()">
                    @*<option value="">เลือกหน่วยงาน</option>*@
                </select>
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="col-form-label col-md-5 text-md-right">รายงานประจำเดือน: </label>
                <select name="month" class="form-control col-md-7" asp-items="ViewBag.Month" onchange="this.form.submit()">
                    <option value="">เลือกเดือน</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="col-form-label col-md-6 text-md-right">ปีงบประมาณ: </label>
                <select asp-for="yearPoint" class="form-control col-md-6" onchange="this.form.submit()">
                    <option value="-1">@DateTime.Now.AddYears(-1).ToString("yyyy")</option>
                    <option value="0">@DateTime.Now.ToString("yyyy")</option>
                    <option value="1">@DateTime.Now.AddYears(1).ToString("yyyy")</option>
                </select>
            </div>
        </div>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ที่</th>
            <th>ตัวชี้วัด</th>
            <th>น้ำหนักร้อยละ (100%)</th>
            <th>เป้าหมาย/ประมาณการ</th>
            <th>ผลการปฏิบัติ</th>

            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                <th>คะแนนเบื้องต้น</th>
                <th>คะแนนเบื้องต้นถ่วงน้ำหนัก</th>
            }

            <th>คะแนน</th>
            <th>คะแนนถ่วงน้ำหนัก</th>
            <th><i class="fas fa-paperclip" title="ไฟล์แนบ"></i></th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal sumWeight = 0m;
            decimal sumScoreDraftWithWeight = 0m;
            decimal sumScoreWithWeight = 0m;
        }
        @for (int i = 0; i < Model.p.Count(); i++)
        {
            sumWeight += @Model.p[i].Weight;
            <tr>
                <td>
                    @Model.p[i].Point
                </td>

                <td>
                    @Model.p[i].Name
                </td>
                <td>
                    @Model.p[i].Weight.ToString("N2")
                </td>
                @{
                    Dictionary<decimal, string> dict = new Dictionary<decimal, string>();
                    dict.Add(1m, "1." + Model.p[i].DetailRate1);
                    dict.Add(2m, "2." + Model.p[i].DetailRate2);
                    dict.Add(3m, "3." + Model.p[i].DetailRate3);
                    dict.Add(4m, "4." + Model.p[i].DetailRate4);
                    dict.Add(5m, "5." + Model.p[i].DetailRate5);

                    if ((3 < Model.month) && (Model.month < 10) && !String.IsNullOrEmpty(Model.p[i].Detail2Rate1))
                    {
                        dict.Clear();
                        dict.Add(1m, "1." + Model.p[i].Detail2Rate1);
                        dict.Add(2m, "2." + Model.p[i].Detail2Rate2);
                        dict.Add(3m, "3." + Model.p[i].Detail2Rate3);
                        dict.Add(4m, "4." + Model.p[i].Detail2Rate4);
                        dict.Add(5m, "5." + Model.p[i].Detail2Rate5);
                    }
                    DataForEvaluation de = null;
                }
                @foreach (var item in @Model.p[i].DataForEvaluations)
                {
                    if (item.Month == Model.month && item.OfficeId == Model.p[i].OwnerOfficeId && item.PointOfEvaluationId == @Model.p[i].Id)
                    {
                        de = item;
                    }
                }

                @if (Model.p[i].Unit == UnitOfPoint.ร้อยละ)
                {
                    <td>@string.Format("{0:N4}", de?.Expect)</td>

                    <td>@string.Format("{0:N4}", de?.Result)</td>
                }
                else
                {
                    <td>
                        @*<select name="Expect[@i]" class="form-control" asp-items="ViewBag.SelectLevelE" disabled></select>*@
                    </td>
                    @*<select name="Result[@i]" class="form-control" asp-items="ViewBag.SelectLevelR" disabled></select>*@
                    if (de != null)
                    {
                        <td>@dict[de.Result]</td>
                    }
                    else
                    {
                        <td></td>
                    }

                }
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {

                    ScoreDraft sd = null;

                    foreach (var item in @Model.p[i].ScoreDrafts)
                    {
                        if (item.LastMonth == Model.month && item.OfficeId == Model.p[i].OwnerOfficeId)
                        {
                            sd = item;
                        }
                    }

                    if (sd != null)
                    {
                        string sColor;
                        if (sd.ScoreValue <= 2)
                        {
                            sColor = "red";
                        }
                        else if (sd.ScoreValue > 2 && sd.ScoreValue <= 4)
                        {
                            sColor = "orange";
                        }
                        else
                        {
                            sColor = "green";
                        }

                        <td style="color:@sColor;font-weight: bold">@string.Format("{0:N4}", sd?.ScoreValue)</td>

                        var sdx = sd.ScoreValue * @Model.p[i].Weight / 100;
                        sumScoreDraftWithWeight += sdx;
                        <td style="color:@sColor;font-weight: bold">@string.Format("{0:N4}", sdx)</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                }

                @{
                    Score s = null;
                }
                @foreach (var item in @Model.p[i].Scores)
                {
                    if (item.LastMonth == Model.month && item.OfficeId == Model.p[i].OwnerOfficeId)
                    {
                        s = item;
                    }
                }

                @if (s != null)
                {
                    string sColor;
                    if (s.ScoreValue <= 2)
                    {
                        sColor = "red";
                    }
                    else if (s.ScoreValue > 2 && s.ScoreValue <= 4)
                    {
                        sColor = "orange";
                    }
                    else
                    {
                        sColor = "green";
                    }

                    <td style="color:@sColor;font-weight: bold">@string.Format("{0:N4}", s?.ScoreValue)</td>

                    var sx = s.ScoreValue * @Model.p[i].Weight / 100;
                    sumScoreWithWeight += sx;
                    <td style="color:@sColor;font-weight: bold">@string.Format("{0:N4}", sx)</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                }
                <td>
                    @if (de?.AttachFile != null)
                    {
                        <a href="~/attach_files/@de?.AttachFile" target="_blank"><i class="fas fa-file-pdf fa-2x"></i></a>
                    }
                </td>
            </tr>
        }
        <tr>
            <td style="color:blue;font-weight: bold">รวม</td>
            <td></td>
            <td style="color:blue;font-weight: bold">@string.Format("{0:N2}", sumWeight)</td>
            <td></td>
            <td></td>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
                string sColor;
                if (sumScoreDraftWithWeight <= 2)
                {
                    sColor = "red";
                }
                else if (sumScoreDraftWithWeight > 2 && sumScoreDraftWithWeight <= 4)
                {
                    sColor = "orange";
                }
                else
                {
                    sColor = "green";
                }

                <td></td>
                <td style="color:@sColor;font-weight: bold">@string.Format("{0:N4}", Math.Round(sumScoreDraftWithWeight, 3, MidpointRounding.AwayFromZero))</td>
            }
            <td></td>
            @{
                string ssColor;
                if (sumScoreWithWeight <= 2)
                {
                    ssColor = "red";
                }
                else if (sumScoreWithWeight > 2 && sumScoreWithWeight <= 4)
                {
                    ssColor = "orange";
                }
                else
                {
                    ssColor = "green";
                }
                <td style="color:@ssColor;font-weight: bold">@string.Format("{0:N4}", Math.Round(sumScoreWithWeight, 3, MidpointRounding.AwayFromZero))</td>
            }
            <td></td>
        </tr>
    </tbody>
</table>

<br />
