@using Microsoft.AspNetCore.Identity
@model EPES.Models.PointOfEvaluation

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Create";
    var user = await UserManager.GetUserAsync(User);
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">ตัวชี้วัดผลการปฏิบัติราชการ</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">เพิ่มแผน @ViewBag.Plan</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="OwnerOfficeId" class="control-label"></label>
                            <select asp-for="OwnerOfficeId" class="form-control" asp-items="ViewBag.OfficeId"></select>
                            <span asp-validation-for="OwnerOfficeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AuditOfficeId" class="control-label"></label>
                            <select asp-for="AuditOfficeId" class="form-control" asp-items="ViewBag.AuditOfficeId"></select>
                            <span asp-validation-for="AuditOfficeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Point" class="control-label"></label>
                            <input asp-for="Point" class="form-control" />
                            <span asp-validation-for="Point" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DetailPlan" class="control-label"></label>
                            <input asp-for="DetailPlan" class="form-control" />
                            <span asp-validation-for="DetailPlan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Weight" class="control-label"></label>
                            <input asp-for="Weight" class="form-control" />
                            <span asp-validation-for="Weight" class="text-danger"></span>
                        </div>
                        <fieldset>
                            <legend>เกณฑ์การประเมิน</legend>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="Unit" class="control-label"></label>
                                    <select asp-for="Unit" class="form-control" asp-items="Html.GetEnumSelectList<UnitOfPoint>()"></select>
                                    <span asp-validation-for="Unit" class="text-danger"></span>
                                </div>
                                <div class="form-group col-md-6" name="round">
                                    <label class="control-label">รอบการประเมิน</label>
                                    <select id="round-select" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" name="mainrate1">
                                <div class="form-group col-md-6 percent">
                                    <label asp-for="Rate1" class="control-label"></label>
                                    <input asp-for="Rate1" class="form-control" />
                                    <span asp-validation-for="Rate1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row" name="mainrate2">
                                <div class="form-group col-md-6 percent">
                                    <label asp-for="Rate2" class="control-label"></label>
                                    <input asp-for="Rate2" class="form-control" />
                                    <span asp-validation-for="Rate2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row" name="mainrate3">
                                <div class="form-group col-md-6 percent percent">
                                    <label asp-for="Rate3" class="control-label"></label>
                                    <input asp-for="Rate3" class="form-control" />
                                    <span asp-validation-for="Rate3" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row" name="mainrate4">
                                <div class="form-group col-md-6 percent">
                                    <label asp-for="Rate4" class="control-label"></label>
                                    <input asp-for="Rate4" class="form-control" />
                                    <span asp-validation-for="Rate4" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row" name="mainrate5">
                                <div class="form-group col-md-6 percent">
                                    <label asp-for="Rate5" class="control-label"></label>
                                    <input asp-for="Rate5" class="form-control" />
                                    <span asp-validation-for="Rate5" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row" name="mainrate6">
                            </div>
                            <div class="row" name="mainrate7">
                            </div>
                            <div class="row" name="mainrate8">
                            </div>
                            <div class="row" name="mainrate9">
                            </div>
                            <div class="row" name="mainrate10">
                            </div>
                        </fieldset>
                        <table class="table table-bordered" id="DataForEvalutionTable" style="width:100%;" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        เดือน
                                    </th>
                                    <th>
                                        เป้าหมาย/ประมาณการ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 10, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect10" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 11, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect11" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 12, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect12" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 1, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect1" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 2, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect2" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 3, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect3" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 4, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect4" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 5, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect5" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 6, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect6" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 7, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect7" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 8, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect8" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @(new DateTime(1, 9, 1).ToString("MMMM"))
                                    </td>
                                    <td>
                                        <input type="number" name="expect9" class="form-control" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input name="yearPoint" value="@ViewBag.yearPoint" hidden />
                        <input asp-for="Plan" placeholder="@ViewBag.PlanValue" hidden />
                        <input type="hidden" name="selectoffice" value="@ViewBag.selectoffice" />
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                        <a asp-area="" asp-controller="PointOfEvaluations" asp-action="Index" asp-route-yearPoint="@ViewBag.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" class="btn btn-secondary">ยกเลิก</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class='form-group col-md-6'>
        <label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 1 คะแนน รอบที่ 1</label>
        <div class='row'>
            <div class='col-md-2 text-md-right'>1.</div>
            <div class='col-md-10'><input id='DetailRate1' name='DetailRate1' class='form-control' /></div>
        </div>
    </div>
    <div class='form-group col-md-3'>
        <label class='control-label'>เดือนเริ่ม 1 คะแนน รอบที่ 1</label>
        <input type="datetime" name='Rate1MonthStart' class='form-control' />
    </div>
    <div class='form-group col-md-3'>
        <label class='control-label'>เดือนสิ้นสุด 1 คะแนน รอบที่ 1</label>
        <input type="datetime" name='Rate1MonthStart' class='form-control' />
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("div[name='round']").hide();

            $("#Unit").change(function () {
                if ($(this).children("option:selected").val() == 1) {
                    $("div[name='round']").show();
                    $("#DataForEvalutionTable").hide();

                    $("#round-select").val('1');
                    $("div[name^='mainrate']").empty();

                    $("div[name='mainrate1']").append(
                    ); "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 1 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>1.</div><div class='col-md-10'><input id='DetailRate1' name='DetailRate1' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R1MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R1MStop' class='form-control' /></div>"

                    $("div[name='mainrate2']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 2 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>2.</div><div class='col-md-10'><input id='DetailRate2' name='DetailRate2' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R2MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R2MStop' class='form-control' /></div>"
                    );
                    $("div[name='mainrate3']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 3 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>3.</div><div class='col-md-10'><input id='DetailRate3' name='DetailRate3' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R3MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R3MStop' class='form-control' /></div>"
                    );
                    $("div[name='mainrate4']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 4 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>4.</div><div class='col-md-10'><input id='DetailRate4' name='DetailRate4' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R4MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R4MStop' class='form-control' /></div>"
                    );
                    $("div[name='mainrate5']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 5 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>5.</div><div class='col-md-10'><input id='DetailRate5' name='DetailRate5' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R5MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R5MStop' class='form-control' /></div>"
                    );
                }
                else {

                    $("div[name='round']").hide();
                    $("div[name^='mainrate']").empty();

                    if ($("#OwnerOfficeId").val() == "") {
                        $("#DataForEvalutionTable").hide();
                    } else {
                        $("#DataForEvalutionTable").show();
                    }

                    $("div[name='mainrate1']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>เกณฑ์การให้คะแนน 1 คะแนน</label><input id='Rate1' name='Rate1' class='form-control' /></div>"
                    );
                    $("div[name='mainrate2']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>เกณฑ์การให้คะแนน 2 คะแนน</label><input id='Rate2' name='Rate2' class='form-control' /></div>"
                    );
                    $("div[name='mainrate3']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>เกณฑ์การให้คะแนน 3 คะแนน</label><input id='Rate3' name='Rate3' class='form-control' /></div>"
                    );
                    $("div[name='mainrate4']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>เกณฑ์การให้คะแนน 4 คะแนน</label><input id='Rate4' name='Rate4' class='form-control' /></div>"
                    );
                    $("div[name='mainrate5']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>เกณฑ์การให้คะแนน 5 คะแนน</label><input id='Rate5' name='Rate5' class='form-control' /></div>"
                    );
                }
            });

            $("#round-select").change(function () {
                if ($(this).children("option:selected").val() == 2) {
                    $("div[name='mainrate6']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 1 คะแนน รอบที่ 2</label><div class='row'><div class='col-md-2 text-md-right'>1.</div><div class='col-md-10'><input id='Detail2Rate1' name='Detail2Rate1' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R1MStart2' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R1MStop2' class='form-control' /></div>"
                    );
                    $("div[name='mainrate7']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 2 คะแนน รอบที่ 2</label><div class='row'><div class='col-md-2 text-md-right'>2.</div><div class='col-md-10'><input id='Detail2Rate2' name='Detail2Rate2' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R2MStart2' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R2MStop2' class='form-control' /></div>"
                    );
                    $("div[name='mainrate8']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 3 คะแนน รอบที่ 2</label><div class='row'><div class='col-md-2 text-md-right'>3.</div><div class='col-md-10'><input id='Detail2Rate3' name='Detail2Rate3' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R3MStart2' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R3MStop2' class='form-control' /></div>"
                    );
                    $("div[name='mainrate9']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 4 คะแนน รอบที่ 2</label><div class='row'><div class='col-md-2 text-md-right'>4.</div><div class='col-md-10'><input id='Detail2Rate4' name='Detail2Rate4' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R4MStart2' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R4MStop2' class='form-control' /></div>"
                    );
                    $("div[name='mainrate10']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 5 คะแนน รอบที่ 2</label><div class='row'><div class='col-md-2 text-md-right'>5.</div><div class='col-md-10'><input id='Detail2Rate5' name='Detail2Rate5' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R5MStart2' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R5MStop2' class='form-control' /></div>"
                    );
                }
                else {
                    $("div[name^='mainrate']").empty();

                    $("div[name='mainrate1']").append(
                    ); "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 1 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>1.</div><div class='col-md-10'><input id='DetailRate1' name='DetailRate1' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R1MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R1MStop' class='form-control' /></div>"

                    $("div[name='mainrate2']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 2 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>2.</div><div class='col-md-10'><input id='DetailRate2' name='DetailRate2' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R2MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R2MStop' class='form-control' /></div>"
                    );
                    $("div[name='mainrate3']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 3 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>3.</div><div class='col-md-10'><input id='DetailRate3' name='DetailRate3' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R3MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R3MStop' class='form-control' /></div>"
                    );
                    $("div[name='mainrate4']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 4 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>4.</div><div class='col-md-10'><input id='DetailRate4' name='DetailRate4' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R4MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R4MStop' class='form-control' /></div>"
                    );
                    $("div[name='mainrate5']").append(
                        "<div class='form-group col-md-6'><label class='control-label'>รายละเอียดเกณฑ์การให้คะแนน 5 คะแนน รอบที่ 1</label><div class='row'><div class='col-md-2 text-md-right'>5.</div><div class='col-md-10'><input id='DetailRate5' name='DetailRate5' class='form-control' /></div></div></div><div class='form-group col-md-3'><label class='control-label'>วันที่เริ่ม</label><input type='date' name='R5MStart' class='form-control' /></div><div class='form-group col-md-3'><label class='control-label'>วันที่สิ้นสุด</label><input type='date' name='R5MStop' class='form-control' /></div>"
                    );
                }
            });

            if ($("#OwnerOfficeId").val() == "") {
                $("#DataForEvalutionTable").hide();
            } else {
                $("#DataForEvalutionTable").show();
            }

            $("#OwnerOfficeId").change(function () {
                if ($(this).children("option:selected").val() == "") {
                    $("#DataForEvalutionTable").hide();
                } else {
                    $("#DataForEvalutionTable").show();
                }
            });
        });
    </script>
}
