@model EPES.Models.PointOfEvaluation

@{
    ViewData["Title"] = "Delete";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">ตัวชี้วัดผลการปฏิบัติราชการ</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">ต้องการลบตัวชี้วัดนี้ใช่หรือไม่?</h6>
            <span style="color:red">@ViewData["ErrorMessage"]</span>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-8">
                    @Model.Year.ToString("yyyy")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Point)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Point)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Plan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Plan)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailPlan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailPlan)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Unit)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Weight)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate1)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate1)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailRate1)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailRate1)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Detail2Rate1)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Detail2Rate1)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate2)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate2)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailRate2)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailRate2)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Detail2Rate2)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Detail2Rate2)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate3)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate3)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailRate3)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailRate3)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Detail2Rate3)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Detail2Rate3)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate4)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate4)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailRate4)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailRate4)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Detail2Rate4)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Detail2Rate4)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate5)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate5)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailRate5)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailRate5)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Detail2Rate5)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Detail2Rate5)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.OwnerOffice)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.OwnerOffice.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AuditOffice)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AuditOffice.Name)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" name="yearP" value="@ViewBag.yearPoint" />
                <input type="submit" value="ลบ" class="btn btn-danger" />
                <a asp-action="Index" asp-route-yearPoint="@ViewBag.yearPoint" class="btn btn-success">ยกเลิก</a>
            </form>
        </div>
    </div>
</div>