@model EPES.Models.PointOfEvaluation

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">ตัวชี้วัดผลการปฏิบัติราชการ</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">รายละเอียดแผน</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-8">
                    @Model.Year.ToString("yyyy")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.OwnerOffice)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.OwnerOffice.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AuditOffice)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AuditOffice.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Point)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Point)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.SubPoint)
                </dt>
                <dd class="col-sm-8">
                    @if(Model.SubPoint == 0){
                    @:ไม่มี
                    }
                    else{
                    @Html.DisplayFor(model => model.SubPoint)
                    }
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ExpectPlan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ExpectPlan)
                </dd>
                <dt class="col-sm-4">
                    <label class="control-label">D<sup>2</sup>RIVE</label>
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Ddrive)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Plan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Plan)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailPlan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailPlan)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Unit)
                </dd>

                <dt class="col-sm-4">
                    <label class="card-text control-label">รอบการประเมิน</label>
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rounds.Count)
                </dd>
            </dl>
            <div class="card">
                <div class="card-header">รอบที่ 1</div>
                <div class="card-body">
                    <dl class="row">
                        @if (Model.Unit == UnitOfPoint.ร้อยละ){
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Rounds[0].Rate1)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.Rounds[0].Rate1)<text>%</text>
                        </dd>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Rounds[0].Rate2)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.Rounds[0].Rate2) <text>%</text>
                        </dd>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Rounds[0].Rate3)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.Rounds[0].Rate3) <text>%</text>
                        </dd>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Rounds[0].Rate4)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.Rounds[0].Rate4)<text>%</text>
                        </dd>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Rounds[0].Rate5)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.Rounds[0].Rate5)<text>%</text>
                        </dd>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        }else if (Model.Unit == UnitOfPoint.ระดับ){
                        <dt class="col-sm-6">
                            1.@Html.DisplayFor(model => model.Rounds[0].DetailRate1)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R1MStop)
                        </dd>
                        <dt class="col-sm-6">
                            2.@Html.DisplayFor(model => model.Rounds[0].DetailRate2)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R2MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R2MStop)
                        </dd>
                        <dt class="col-sm-6">
                            3.@Html.DisplayFor(model => model.Rounds[0].DetailRate3)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R3MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R3MStop)
                        </dd>
                        <dt class="col-sm-6">
                            4.@Html.DisplayFor(model => model.Rounds[0].DetailRate4)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R4MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R4MStop)
                        </dd>
                        <dt class="col-sm-6">
                            5.@Html.DisplayFor(model => model.Rounds[0].DetailRate2)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R5MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        }else {
                        <dt class="col-sm-6">
                            1.@Html.DisplayFor(model => model.Rounds[0].DetailRate1)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R1MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R1MStop)
                        </dd>

                        if(model.Rounds[0].LevelNumber >= 2){
                        <dt class="col-sm-6">
                            2.@Html.DisplayFor(model => model.Rounds[0].DetailRate2)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R2MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R2MStop)
                        </dd>
                        }else{
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Rounds[0].Rate2)
                        </dt>
                        <dd class="col-sm-3">
                            @Html.DisplayFor(model => model.Rounds[0].Rate2)<text>%</text>
                        </dd>
                        <dt class="col-sm-3">
                        </dt>
                        <dd class="col-sm-3">
                        </dd>
                        }

                        if(model.Rounds[0].LevelNumber >= 3){
                        <dt class="col-sm-6">
                            3.@Html.DisplayFor(model => model.Rounds[0].DetailRate3)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R3MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R3MStop)
                        </dd>
                        }else{
                        }
                        <dt class="col-sm-6">
                            4.@Html.DisplayFor(model => model.Rounds[0].DetailRate4)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R4MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R4MStop)
                        </dd>
                        <dt class="col-sm-6">
                            5.@Html.DisplayFor(model => model.Rounds[0].DetailRate2)
                        </dt>
                        <dd class="col-sm-3">
                            เริ่ม @Html.DisplayFor(model => model.Rounds[0].R5MStart)
                        </dd>
                        <dd class="col-sm-3">
                            สิ้นสุด @Html.DisplayFor(model => model.Rounds[0].R5MStop)
                        </dd>
                        }

                        <dt class="col-sm-3">

                        </dt>
                        <dd class="col-sm-3">

                        </dd>

                        <dt class="col-sm-3">

                        </dt>
                        <dd class="col-sm-3">

                        </dd>
                        >
                        <dt class="col-sm-3">

                        </dt>
                        <dd class="col-sm-3">

                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card" id="round2">
                <div class="card-header">รอบที่ 2</div>
                <div class="card-body">

                </div>
            </div>
            <div>
                <a asp-action="Index" asp-route-yearPoint="@ViewBag.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" class="btn btn-info">กลับหน้าแผน</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script>
    $(function () {

    });
</script>
}
