@model EPES.Models.PointOfEvaluation

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">ตัวชี้วัดผลการปฏิบัติราชการ</p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">รายละเอียดแผน</h6>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Year)
                </dt>
                <dd class="col-sm-8">
                    @Model.Year.ToString("yyyy")
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.OwnerOffice)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.OwnerOffice.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AuditOffice)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AuditOffice.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Point)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Point)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Plan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Plan)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DetailPlan)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DetailPlan)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Unit)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate1)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate1)
                </dd>
                @if (Model.Unit == UnitOfPoint.ระดับ)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DetailRate1)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DetailRate1)
                    </dd>
                    @if (!String.IsNullOrEmpty(Model.Detail2Rate1))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Detail2Rate1)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Detail2Rate1)
                        </dd>
                    }

                }

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate2)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate2)
                </dd>
                @if (Model.Unit == UnitOfPoint.ระดับ)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DetailRate2)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DetailRate2)
                    </dd>
                    @if (!String.IsNullOrEmpty(Model.Detail2Rate2))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Detail2Rate2)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Detail2Rate2)
                        </dd>
                    }
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate3)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate3)
                </dd>
                @if (Model.Unit == UnitOfPoint.ระดับ)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DetailRate3)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DetailRate3)
                    </dd>
                    @if (!String.IsNullOrEmpty(Model.Detail2Rate3))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Detail2Rate3)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Detail2Rate3)
                        </dd>
                    }
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate4)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate4)
                </dd>
                @if (Model.Unit == UnitOfPoint.ระดับ)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DetailRate4)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DetailRate4)
                    </dd>
                    @if (!String.IsNullOrEmpty(Model.Detail2Rate4))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Detail2Rate4)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Detail2Rate4)
                        </dd>
                    }
                }
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Rate5)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rate5)
                </dd>
                @if (Model.Unit == UnitOfPoint.ระดับ)
                {
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.DetailRate5)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.DetailRate5)
                    </dd>
                    @if (!String.IsNullOrEmpty(Model.Detail2Rate5))
                    {
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Detail2Rate5)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Detail2Rate5)
                        </dd>
                    }
                }
            </dl>
            <div>
                <a asp-action="Index" asp-route-yearPoint="@ViewBag.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice" class="btn btn-info">กลับหน้าแผน</a>
            </div>
        </div>
    </div>
</div>
