@using Microsoft.AspNetCore.Identity
@model EPES.ViewModels.PointOfEvaluationViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Point Of Evaluation";
    var user = await UserManager.GetUserAsync(User);
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">ตัวชี้วัดผลการปฏิบัติราชการ</p>

    <form asp-action="Index">
        <div class="row justify-content-between">
            <div class="form-group form-inline">
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <label class="form-label text-md-right">หน่วยงาน: </label>
                    <select asp-for="selectoffice" class="form-control" asp-items="ViewBag.OfficeCode" onchange="this.form.submit()">
                        <option value="">เลือกหน่วยงาน</option>
                    </select>
                }
            </div>
            <div class="form-group form-inline">
                <label class="form-label text-md-right">ปีงบประมาณ: </label>
                <select asp-for="yearPoint" class="form-control" onchange="this.form.submit()">
                    <option value="-1">
                        @{
                            if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                            {
                                @DateTime.Now.ToString("yyyy");
                            }
                            else
                            {
                                @DateTime.Now.AddYears(-1).ToString("yyyy");
                            }
                        }
                    </option>
                    <option value="0">
                        @{
                            if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                            {
                                @DateTime.Now.AddYears(1).ToString("yyyy");
                            }
                            else
                            {
                                @DateTime.Now.ToString("yyyy");
                            }
                        }
                    </option>
                    <option value="1">
                        @{
                            if (DateTime.Now.Month == 10 || DateTime.Now.Month == 11 || DateTime.Now.Month == 12)
                            {
                                @DateTime.Now.AddYears(2).ToString("yyyy");
                            }
                            else
                            {
                                @DateTime.Now.AddYears(1).ToString("yyyy");
                            }
                        }
                    </option>
                </select>
            </div>
        </div>
    </form>

    @if (Model.pointA != null)
    {
        <!-- Plan A -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายจากผู้บริหาร (Top - Down: A)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="EPEStable" style="width:100%;" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    ลำดับที่
                                </th>
                                <th>
                                    แผนงาน/โครงการ
                                </th>
                                <th>
                                    ตัวชี้วัด
                                </th>
                                <th>
                                    หน่วยวัด
                                </th>
                                <th>
                                    น้ำหนัก
                                </th>
                                <th>
                                    ตัวชี้วัดสำหรับ
                                </th>
                                <th>
                                    หน่วยกำกับ
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.pointA)
                            {
                                <tr>
                                    <td>
                                        @if (item.SubPoint != 0)
                                        {
                                            @Html.DisplayFor(modelItem => item.Point)@:.@Html.DisplayFor(modelItem => item.SubPoint)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Point)
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DetailPlan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Weight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)))
                                        {
                                            <a title="แก้ไข" asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-edit"></i></a>
                                        }
                                        <a title="รายละเอียด" asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-search-plus"></i></a>
                                        @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)))
                                        {
                                            <a title="ลบ" asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p class="text-right">
                        @if (User.IsInRole("Admin") || ((User.IsInRole("Manager") || User.IsInRole("User")) && user.OfficeId.StartsWith("000")))
                        {
                            <a asp-action="Create" asp-route-plan="0" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice">เพิ่มแผน</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
    <!-- Plan B -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายที่ถ่ายทอดไปยังหน่วยปฏิบัติ (Top - Down: B)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="EPEStableB" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                ลำดับที่
                            </th>
                            <th>
                                แผนงาน/โครงการ
                            </th>
                            <th>
                                ตัวชี้วัด
                            </th>
                            <th>
                                หน่วยนับ
                            </th>
                            <th>
                                น้ำหนัก
                            </th>
                            <th>
                                ตัวชี้วัดสำหรับ
                            </th>
                            <th>
                                หน่วยกำกับ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pointB)
                        {
                            <tr>
                                <td>
                                    @if (item.SubPoint != 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.Point)@:.@Html.DisplayFor(modelItem => item.SubPoint)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Point)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetailPlan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)) || (User.IsInRole("Manager") && user.OfficeId.Substring(2, 6) == "000000" && item.OwnerOffice.Code.StartsWith(user.OfficeId.Substring(0, 2))) || (User.IsInRole("User") && item.OwnerOffice.Code == user.OfficeId))
                                    {
                                        <a title="แก้ไข" asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-edit"></i></a>
                                    }
                                    <a title="รายละเอียด" asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-search-plus"></i></a>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)) || (User.IsInRole("Manager") && user.OfficeId.Substring(2, 6) == "000000" && item.OwnerOffice.Code.StartsWith(user.OfficeId.Substring(0, 2))) || (User.IsInRole("User") && item.OwnerOffice.Code == user.OfficeId))
                                    {
                                        <a title="ลบ" asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-right">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("User"))
                    {
                        <a asp-action="Create" asp-route-plan="1" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice">เพิ่มแผน</a>
                    }
                </p>
            </div>
        </div>
    </div>

    <!-- Plan C -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">แผนงานตามความต้องการของหน่วยงาน (Bottom - Up: C)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="EPEStableC" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                ลำดับที่
                            </th>
                            <th>
                                แผนงาน/โครงการ
                            </th>
                            <th>
                                ตัวชี้วัด
                            </th>
                            <th>
                                หน่วยนับ
                            </th>
                            <th>
                                น้ำหนัก
                            </th>
                            <th>
                                ตัวชี้วัดสำหรับ
                            </th>
                            <th>
                                หน่วยกำกับ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pointC)
                        {
                            <tr>
                                <td>
                                    @if (item.SubPoint != 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.Point)@:.@Html.DisplayFor(modelItem => item.SubPoint)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Point)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetailPlan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)) || (User.IsInRole("Manager") && user.OfficeId.Substring(2, 6) == "000000" && item.OwnerOffice.Code.StartsWith(user.OfficeId.Substring(0, 2))) || (User.IsInRole("User") && item.OwnerOffice.Code == user.OfficeId))
                                    {
                                        <a title="แก้ไข" asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-edit"></i></a>
                                    }
                                    <a title="รายละเอียด" asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-search-plus"></i></a>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)) || (User.IsInRole("Manager") && user.OfficeId.Substring(2, 6) == "000000" && item.OwnerOffice.Code.StartsWith(user.OfficeId.Substring(0, 2))) || (User.IsInRole("User") && item.OwnerOffice.Code == user.OfficeId))
                                    {
                                        <a title="ลบ" asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-right">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("User"))
                    {
                        <a asp-action="Create" asp-route-plan="2" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice">เพิ่มแผน</a>
                    }
                </p>
            </div>
        </div>
    </div>

    <!-- Plan D -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">แผนงานร่วม (Joint KPI: D)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="EPEStableD" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                ลำดับที่
                            </th>
                            <th>
                                แผนงาน/โครงการ
                            </th>
                            <th>
                                ตัวชี้วัด
                            </th>
                            <th>
                                หน่วยนับ
                            </th>
                            <th>
                                น้ำหนัก
                            </th>
                            <th>
                                ตัวชี้วัดสำหรับ
                            </th>
                            <th>
                                หน่วยกำกับ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pointD)
                        {
                            <tr>
                                <td>
                                    @if (item.SubPoint != 0)
                                    {
                                        @Html.DisplayFor(modelItem => item.Point)@:.@Html.DisplayFor(modelItem => item.SubPoint)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.Point)
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DetailPlan)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)) || (User.IsInRole("Manager") && user.OfficeId.Substring(2, 6) == "000000" && item.OwnerOffice.Code.StartsWith(user.OfficeId.Substring(0, 2))) || (User.IsInRole("User") && item.OwnerOffice.Code == user.OfficeId))
                                    {
                                        <a title="แก้ไข" asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-edit"></i></a>
                                    }
                                    <a title="รายละเอียด" asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-search-plus"></i></a>
                                    @if (User.IsInRole("Admin") || (User.IsInRole("Manager") && (item.AuditOffice.Code == user.OfficeId || item.OwnerOffice.Code == user.OfficeId)) || (User.IsInRole("Manager") && user.OfficeId.Substring(2, 6) == "000000" && item.OwnerOffice.Code.StartsWith(user.OfficeId.Substring(0, 2))) || (User.IsInRole("User") && item.OwnerOffice.Code == user.OfficeId))
                                    {
                                        <a title="ลบ" asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-right">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("User"))
                    {
                        <a asp-action="Create" asp-route-plan="3" asp-route-yearPoint="@Model.yearPoint" asp-route-selectoffice="@ViewBag.selectoffice">เพิ่มแผน</a>
                    }
                </p>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_dataTableScript" />
}
