@using Microsoft.AspNetCore.Identity
@model EPES.ViewModels.PointOfEvaluationViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Point Of Evaluation";
    var user = await UserManager.GetUserAsync(User);
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">แผนปฏิบัติราชการ</h1>
    <p class="mb-4">ตัวชี้วัดผลการปฏิบัติราชการ</p>
    <form asp-action="Index">
        <div class="form-group row">
            <label class="col-form-label col-md-10 text-md-right">ปีงบประมาณ: </label>
            <div class="col-md-2">
                <select asp-for="yearPoint" class="form-control" onchange="this.form.submit()">
                    <option value="-1">@DateTime.Now.AddYears(-1).ToString("yyyy")</option>
                    <option value="0">@DateTime.Now.ToString("yyyy")</option>
                    <option value="1">@DateTime.Now.AddYears(1).ToString("yyyy")</option>
                </select>
            </div>
        </div>
        <input type="hidden" name="officeCode" value="@user.OfficeId" />
    </form>
    @if (Model.pointA != null)
    {
        <!-- Plan A -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายจากผู้บริหาร (Top - Down : A)</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="EPEStable" style="width:100%;" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    ลำดับที่
                                </th>
                                <th>
                                    แผนงาน/ตัวชี้วัด
                                </th>
                                <th>
                                    หน่วยนับ
                                </th>
                                <th>
                                    น้ำหนัก
                                </th>
                                <th>
                                    ตัวชี้วัดสำหรับ
                                </th>
                                <th>
                                    หน่วยกำกับ
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.pointA)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Point)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Weight)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin") || user.OfficeId == item.OwnerOffice.Code)
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                        }
                                        <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search-plus"></i></a>
                                        @if (User.IsInRole("Admin") || user.OfficeId == item.OwnerOffice.Code)
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-trash"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <p class="text-right">
                        <a asp-action="Create" asp-route-plan="0" asp-route-yearPoint="@Model.yearPoint">เพิ่มแผน</a>
                    </p>
                </div>
            </div>
        </div>
    }
    <!-- Plan B -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">แผนงานตามนโยบายที่ถ่ายทอดไปยังหน่วยปฏิบัติ (Top - Down : B)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="EPEStableB" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                ลำดับที่
                            </th>
                            <th>
                                แผนงาน/ตัวชี้วัด
                            </th>
                            <th>
                                หน่วยนับ
                            </th>
                            <th>
                                น้ำหนัก
                            </th>
                            <th>
                                ตัวชี้วัดสำหรับ
                            </th>
                            <th>
                                หน่วยกำกับ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pointB)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Point)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || user.OfficeId == item.AuditOffice.Code)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-edit"></i></a>
                                    }
                                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-search-plus"></i></a>
                                    @if (User.IsInRole("Admin") || user.OfficeId == item.AuditOffice.Code)
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-right">
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a asp-action="Create" asp-route-plan="1" asp-route-yearPoint="@Model.yearPoint">เพิ่มแผน</a>
                    }
                </p>
            </div>
        </div>
    </div>

    <!-- Plan C -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">แผนงานตามความต้องการของหน่วยงาน (Bottom - Up : C)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="EPEStableC" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                ลำดับที่
                            </th>
                            <th>
                                แผนงาน/ตัวชี้วัด
                            </th>
                            <th>
                                หน่วยนับ
                            </th>
                            <th>
                                น้ำหนัก
                            </th>
                            <th>
                                ตัวชี้วัดสำหรับ
                            </th>
                            <th>
                                หน่วยกำกับ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pointC)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Point)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || user.OfficeId == item.OwnerOffice.Code)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-edit"></i></a>
                                    }
                                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-search-plus"></i></a>
                                    @if (User.IsInRole("Admin") || user.OfficeId == item.OwnerOffice.Code)
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-right">
                    <a asp-action="Create" asp-route-plan="2" asp-route-yearPoint="@Model.yearPoint">เพิ่มแผน</a>
                </p>
            </div>
        </div>
    </div>

    <!-- Plan D -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">แผนงานร่วม (Joint KPI: D)</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="EPEStableD" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                ลำดับที่
                            </th>
                            <th>
                                แผนงาน/ตัวชี้วัด
                            </th>
                            <th>
                                หน่วยนับ
                            </th>
                            <th>
                                น้ำหนัก
                            </th>
                            <th>
                                ตัวชี้วัดสำหรับ
                            </th>
                            <th>
                                หน่วยกำกับ
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.pointD)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Point)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Unit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OwnerOffice.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuditOffice.Name)
                                </td>
                                <td>
                                    @if (User.IsInRole("Admin") || user.OfficeId == item.OwnerOffice.Code)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-edit"></i></a>
                                    }
                                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-search-plus"></i></a>
                                    @if (User.IsInRole("Admin") || user.OfficeId == item.OwnerOffice.Code)
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-yearPoint="@Model.yearPoint"><i class="fas fa-trash"></i></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p class="text-right">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Create" asp-route-plan="3" asp-route-yearPoint="@Model.yearPoint">เพิ่มแผน</a>
                    }
                </p>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_dataTableScript" />
}
